In [2]:
import pandas as pd
df = pd.read_excel('/Users/souadmouajel/Desktop/Ironhack/lab-sessions/week-2/project-week2/GSAF5.xls')
df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,2025-06-17 00:00:00,2025.0,Unprovoked,USA,South Carolina,Hilton Head Island,Swimming,Not stated,F,12,...,Not stated,Kevin McMurray Trackingsharks.com:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-06-11 00:00:00,2025.0,Unprovoked,USA,Florida,Boca Grande,Snorkeling,Leah Lendel,F,9,...,Bull shark,Kevin McMurray Trackingsharks.com: James Kings...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-05-29 00:00:00,2025.0,Unprovoked,USA,North Carolina,Sunset Beach,Swimming,Sean Barton,M,26,...,Not stated,Kevin McMurray Trackingsharks.com: Clay Crewel...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-05-26 00:00:00,2025.0,Unprovoked,Vanuatu,South Santo,Espiitu Santo Island,Swimming,Tumas,M,14,...,Not stated,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-05-15 00:00:00,2025.0,Unprovoked,Australia,South Australia,Port Noarlunga,Swimming,Richard Vinall,M,66,...,Not stated,Simon DeMarchi: Todd Smith: 9 News:ABC News,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7020 entries, 0 to 7019
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            7020 non-null   object
 1   Year            7018 non-null   float64
 2   Type            7002 non-null   object
 3   Country         6970 non-null   object
 4   State           6535 non-null   object
 5   Location        6454 non-null   object
 6   Activity        6435 non-null   object
 7   Name            6801 non-null   object
 8   Sex             6441 non-null   object
 9   Age             4026 non-null   object
 10  Injury          6985 non-null   object
 11  Fatal Y/N       6459 non-null   object
 12  Time            3494 non-null   object
 13  Species         3889 non-null   object
 14  Source          7001 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6794 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB

In [6]:
# Challenges of Time feature: 
# 1 . alot of missing values
print(f"sum_of_missing_values: {df["Time"].isnull().sum()}")
print()
missing_percent = df["Time"].isnull().sum() / len(df) * 100
print(f"Percentage of missing values: {missing_percent:.2f}%")
print ()
print(f"Huge format variations: see the last 50 value counts") 
df["Time"].value_counts().tail(50)

sum_of_missing_values: 3526

Percentage of missing values: 50.23%

Huge format variations: see the last 50 value counts

Time
14h21                             1
15h53                             1
"Just before 11h00"               1
11h115                            1
12h39                             1
                                  1
N                                 1
Just before sundown               1
22h30                             1
11h30                             1
06h10                             1
Between 05h00 and 08h00           1
07h08                             1
17h00 or 17h40                    1
>08h00                            1
07h56                             1
15h56                             1
0830                              1
17h46                             1
21h50                             1
19h00, Dusk                       1
15h01                             1
1000                              1
10h44                             1
13h19                             1
Shortly before 12h00              1
17h34                             1
9h00                              1
10h43                             1
19h05                             1
14h30 / 15h30                     1
14h34                             1
15h25                             1
Morning                           1
13h24                             1
09h30 / 10h00                     1
10h45-11h15                       1
15h52                             1
12.11 hrs                         1
17h51                             1
16h12                             1
Sometime between 06h00 & 08hoo    1
16h18                             1
07h00 - 08h00                     1
18h15-18h30                       1
17h01                             1
09h57                             1
17h58                             1
15h19                             1
19h00-20h00                       1
Name: count, dtype: int64

In [8]:
# Two steps clean and transform the Time featuers
# First, define a function to replace strange formates with valid ones using reg method (valid method can be strin like Late Afternoon, keep the valid ones 
# but null values have'nt replaced because they are a lot so we avoided the bias"
import pandas as pd
import re

def clean_time(value):
    if pd.isna(value):
        return None

    value = str(value).strip().lower()

    # Remove useless or unclear values
    if value in ["?", "am", "pm", "unknown", "not stated", "n/a", "na"]:
        return None

    # Clean formats like "after 1200hr", "11.30hr", "15.5", etc.
    match = re.search(r'(\d{1,2})[h:.]?(\d{2})?', value)

    if match:
        hour = match.group(1)
        minute = match.group(2) if match.group(2) else "00"
        return f"{hour.zfill(2)}:{minute.zfill(2)}"

    # Keep known phrases like "Morning", "Afternoon", etc.
    return value.title()
from datetime import datetime

# clean time results:
df['Cleaned_Time'] = df['Time'].apply(clean_time)
print(df['Cleaned_Time'].tail(60))

6960         Afternoon
6961         Afternoon
6962              None
6963              None
6964              None
6965              None
6966              None
6967              None
6968              None
6969              None
6970              None
6971              None
6972              None
6973              None
6974              None
6975              None
6976              None
6977    Late Afternoon
6978              None
6979              None
6980              None
6981              None
6982              None
6983         Afternoon
6984              None
6985              None
6986              None
6987              None
6988              None
6989              None
6990              None
6991              None
6992              None
6993              None
6994              None
6995              None
6996              None
6997              None
6998              None
6999              None
7000              None
7001              None
7002              None
7003              None
7004              None
7005              None
7006              None
7007              None
7008              None
7009              None
7010              None
7011              None
7012              None
7013              None
7014              None
7015              None
7016              None
7017              None
7018              None
7019              None
Name: Cleaned_Time, dtype: object

In [10]:
# Second is to transform the inputs of so the datetime. 
# New function will be developed then it will applied on Time but the result will be saved on new feature called later Day_Part 
from datetime import datetime

def precise_time_to_day_part(value):
    if value is None:
        return None  # Keep missing as None

    # Known descriptive phrases to keep untouched
    descriptive_parts = [
        "Early Morning", "Morning", "Midday", "Early Afternoon",
        "Late Afternoon", "Afternoon", "Evening", "Dusk",
        "Night", "Late Night"
    ]
    
    if isinstance(value, str) and value.title() in descriptive_parts:
        return value.title()

    try:
        # Try parsing standard time like "14:30"
        time = datetime.strptime(value, "%H:%M").time()
        hour = time.hour
        minute = time.minute
        if 5 <= hour < 8:
            return "Early Morning"
        elif 8 <= hour < 12:
            return "Morning"
        elif hour == 12 and minute == 0:
            return "Midday"
        elif 12 <= hour < 15:
            return "Early Afternoon"
        elif 15 <= hour < 17:
            return "Late Afternoon"
        elif 17 <= hour < 19:
            return "Evening"
        elif 19 <= hour < 20:
            return "Dusk"
        elif 20 <= hour < 24:
            return "Night"
        else:  # 00:00 to before 5:00
            return "Late Night"
    except:
        return None  # Unrecognized values go to None
df['Cleaned_Time'] = df['Time'].apply(clean_time)
df['Day_Part'] = df['Cleaned_Time'].apply(precise_time_to_day_part)
print(df['Day_Part'].value_counts())

Day_Part
Morning            940
Early Afternoon    634
Late Afternoon     611
Evening            415
Afternoon          215
Early Morning      182
Midday             139
Night              125
Dusk                79
Late Night          38
Name: count, dtype: int64

In [12]:
# Challenges of Date feature: 
# 1 . There are no of missing values but we have to transform the values
print(f"sum_of_missing_values: {df["Date"].isnull().sum()}")
print()
missing_percent = df["Date"].isnull().sum() / len(df) * 100
print(f"Percentage of missing values: {missing_percent:.2f}%")
print ()
print(f"Huge format variations: see the last 50 value counts") 
df["Date"].value_counts().tail(50)

sum_of_missing_values: 0

Percentage of missing values: 0.00%

Huge format variations: see the last 50 value counts

Date
13-May-2000              1
Early Jun-2000           1
02-Jun-2000              1
10-Jun-2000              1
13-Jun-2000              1
19-Jun-2000              1
11-Sep-2000              1
15-Sep-2000              1
03-May-2001              1
03-Mar-2001              1
09-Jan-2001              1
21-Jan-2001              1
24-Jan-2001              1
Reported  24-Jan-2001    1
04-Feb-2001              1
11-Feb-2001              1
26-Feb-2001              1
Mar-2001                 1
08-Mar-2001              1
19-Sep-2000              1
09-Mar-2001              1
23-Mar-2001              1
02-Apr-2001              1
02-Ap-2001               1
05-Apr-2001              1
10-Apr-2001              1
28-Apr-2001              1
May-2001                 1
06-Jan-2001              1
24-Dec-2000              1
12-Dec-2000              1
11-Dec-2000              1
24-Sep-2000              1
25-Sep-2000              1
29-Sep-2000              1
02-Oct-2000              1
09-Oct-2000              1
14-Oct-2000              1
18-Oct-2000              1
20-Oct-2000              1
29-Oct-2000              1
04-Nov-2000              1
10-Nov-2000              1
17-Nov-2000              1
20-Nov-2000              1
21-Nov-2000              1
Dec-2000                 1
03-Dec-2000              1
05-Dec-2000              1
1845-1853                1
Name: count, dtype: int64

In [14]:
# In order to transform the Date column first we have to make sure "Date" column is in datetime format,
# So Text like "Unknown"; Dates missing month or day (e.g., "2023" or "March 2023"), Any other invalid format
df['Cleaned_Date'] = pd.to_datetime(df['Date'], errors='coerce')
# Second we have to define the lables, we choose range date lables rather than season ones becuase the seasons can be different accoring to the country
def get_date_range_label(date):
    if pd.isna(date):
        return "No Date"
    
    day_of_year = date.timetuple().tm_yday  # Day number within the year

    # Margins based on the year of the date
    spring_start = datetime(date.year, 3, 21).timetuple().tm_yday
    summer_start = datetime(date.year, 6, 21).timetuple().tm_yday
    autumn_start = datetime(date.year, 9, 21).timetuple().tm_yday
    winter_start = datetime(date.year, 12, 21).timetuple().tm_yday

    if spring_start <= day_of_year < summer_start:
        return "21-03 to 21-06"
    elif summer_start <= day_of_year < autumn_start:
        return "21-06 to 21-09"
    elif autumn_start <= day_of_year < winter_start:
        return "21-09 to 21-12"
    else:
        return "21-12 to 21-03"

# Apply
df['Date_Range_Label'] = df['Cleaned_Date'].apply(get_date_range_label)

print(df[['Date', 'Cleaned_Date', 'Date_Range_Label']].head(5))
print ()
date_range_missing_values = df['Date_Range_Label'].value_counts().head(10)
print (f"Note: that we have now in Date_Range_Label some missing values {date_range_missing_values} called No Date")

                  Date Cleaned_Date Date_Range_Label
0  2025-06-17 00:00:00   2025-06-17   21-03 to 21-06
1  2025-06-11 00:00:00   2025-06-11   21-03 to 21-06
2  2025-05-29 00:00:00   2025-05-29   21-03 to 21-06
3  2025-05-26 00:00:00   2025-05-26   21-03 to 21-06
4  2025-05-15 00:00:00   2025-05-15   21-03 to 21-06

Note: that we have now in Date_Range_Label some missing values Date_Range_Label
21-06 to 21-09    1868
21-12 to 21-03    1652
21-03 to 21-06    1334
21-09 to 21-12    1290
No Date            876
Name: count, dtype: int64 called No Date

In [16]:
# Challenges of Injury feature: 
# 1 . There are few of missing values but variance is very high
# Challenges of Injury feature:
print(f"Sum of missing values: {df['Injury'].isnull().sum()}\n")

missing_percent = df["Injury"].isnull().sum() / len(df) * 100
print(f"Percentage of missing values: {missing_percent:.2f}%\n")

print("Huge format variations: see the last 50 value counts")
counts = df["Injury"].value_counts()
print(counts.tail(50))

print("\n")

# Filter where count is exactly 1
single_occurrences = counts[counts == 1]

# Show how many have count = 1
print(f"Number of unique injuries that appear only once: {len(single_occurrences)}")

Sum of missing values: 35

Percentage of missing values: 0.50%

Huge format variations: see the last 50 value counts
Injury
Left ankle & foot lacerated                                                                                                                  1
Left arm severed below shoulder                                                                                                              1
Laceration on right ankle & heel                                                                                                             1
Fatal, drowning or scavenging.  Two hours later his body, with bite marks,  washed ashore.                                                   1
Minor puncture wounds in hand                                                                                                                1
5 to 6 lacerations on right foot & ankle                                                                                                     1
Left thigh abraded, right knee and right index finger injured                                                                                1
Right wrist  & left arm lacerated                                                                                                            1
FATAL abdomen bitten                                                                                                                         1
Left heel lacerated                                                                                                                          1
3 puncture wounds on left foot                                                                                                               1
Left foot: lacerations on heel and sole                                                                                                      1
Puncture wounds on inner thigh                                                                                                               1
Left calf avulsion                                                                                                                           1
FATAL, left thigh, buttocks, back of spine, abdomen & chest bitten                                                                           1
2 lacerations on each side of Achilles tendon                                                                                                1
PROVOKED INCIDENT Hooked shark pulled onboard bit his arm                                                                                    1
FATAL          Hip & upper thigh bitten, femoral artery severed                                                                              1
Left ankle lacerated                                                                                                                         1
No injury, wetsuit torn & board bitten                                                                                                       1
Presumed FATAL, severed hand recovered                                                                                                       1
Hand & foot bitten                                                                                                                           1
After biting Halverson, it bit Scott's thigh                                                                                                 1
No inury, shark caught leash attached to surfer's ankle & towed him a short distance                                                         1
Puncture wounds on shin                                                                                                                      1
Left hand, foot severed &  left calf & arm bitten                                                                                            1
Single puncture wound on the foot                                                                                                            1
Hips & thighs bitten                                                                                                                         1
Puncture wounds on wrist                                                                                                                     1
No injury to occupants, boat scratched by shark                                                                                              1
Bitten on feet, legs, back & abdomen but survived.  Survivors rescued after  7.5 hours in the water                                          1
He was was bitten on the arm by small sharks & died, but it was not clear if he died as result of the bite or death resulted from drowing    1
FATAL Severe wound to right thigh & calf                                                                                                     1
Left leg lacerated, right leg severed above the knee                                                                                         1
Disappeared, surfboard washed ashore, marks on leash suggested shark involvement                                                             1
15 puncture wounds on foot                                                                                                                   1
Minor lacerations & abrasions on forearm                                                                                                     1
Shin & calf bitten                                                                                                                           1
FATAL, right thigh & hip bitten                                                                                                              1
Three toes lacerated                                                                                                                         1
Disappeared while diving, may have suffered shallow water blackout. Searchers observed large tiger sharks & whaler sharks in the area        1
Puncture wounds to dorsum of right foot                                                                                                      1
No injury, swim fin damaged                                                                                                                  1
Lower back & hand bitten                                                                                                                     1
No injury to occupants, stern of ski bitten                                                                                                  1
No injury, swim fin ripped off                                                                                                               1
No injury, no attack, shark took fish from back of kayak                                                                                     1
No survivors, sharks scavenged on remains                                                                                                    1
No inury                                                                                                                                     1
FATAL. "Shark bit him in half, carrying away the lower extremities"                                                                          1
Name: count, dtype: int64


Number of unique injuries that appear only once: 3708

In [18]:
# In order to clean column Injury we went in two steps first:
# Purpose:
# Clean the "Injury" column text so that entries with the same injury but different cases, extra spaces, or special characters are standardized.
# for example: Lowercase: "Sprain" and "sprain" should be treated the same.
# Also Strip: Removes accidental spaces around text (" sprain ", "sprain ").
# Replace: Remove anything that is not a lowercase letter or space — this deletes numbers, punctuation, symbols, etc.
# For example, "Sprain#1" → "sprain"
# So we difned new column called Injury_clean using reex technic
df["Injury_clean"] = (
    df["Injury"]
    .str.lower()
    .str.strip()
    .str.replace(r'[^a-z\s]', '', regex=True)  # Remove non-letter characters
)

# Quick grouping preview
print(df["Injury_clean"].value_counts())

Injury_clean
fatal                                                              882
foot bitten                                                        100
survived                                                            97
no injury                                                           94
leg bitten                                                          84
                                                                  ...
punctures on left foot and foot                                      1
several  puncture wounds on lower right leg                          1
heel  foot bitten                                                    1
fatal lower thigh  knee severely lacerated                           1
fatal shark bit him in half carrying away the lower extremities      1
Name: count, Length: 4014, dtype: int64

In [20]:
# Second step we define new function called simplify_injury to recategorize all the the values in 7 categories,
# and generated new column called Injury grouped
def simplify_injury(text):
    if pd.isna(text):
        return "unknown"
    text = text.lower()
    if "fatal" in text:
        return "fatal"
    elif "foot" in text:
        return "foot injury"
    elif "leg" in text:
        return "leg injury"
    elif "hand" in text:
        return "hand injury"
    elif "no injury" in text:
        return "no injury"
    else:
        return "other"

df["Injury_grouped"] = df["Injury"].apply(simplify_injury)
print(df["Injury_grouped"].value_counts())

Injury_grouped
other          2481
fatal          1434
leg injury      902
foot injury     864
no injury       856
hand injury     448
unknown          35
Name: count, dtype: int64

In [22]:
print(f"Sum of missing values: {df['Age'].isnull().sum()}\n")

missing_percent = df["Age"].isnull().sum() / len(df) * 100
print(f"Percentage of missing values: {missing_percent:.2f}%\n")

print("Huge format variations: see the last 50 value counts")
counts = df["Age"].value_counts()
print(counts.tail(50))

print("\n")

Sum of missing values: 2994

Percentage of missing values: 42.65%

Huge format variations: see the last 50 value counts
Age
40?               1
45 and 15         1
12 or 13          1
18 or 20          1
86                1
!2                1
73                1
28 & 26           1
M                 1
74                1
!6                1
!!                1
4                 1
Elderly           1
28 & 22           1
18 months         1
22, 57, 31        1
20's              1
67                1
74                1
9 & 60            1
a minor           1
72                1
66                1
46 & 34           1
28, 23 & 30       1
Teens             1
77                1
87                1
16 to 18          1
32 & 30           1
69                1
60's              1
20?               1
 28               1
7      &    31    1
 30               1
60+               1
23 & 20           1
mid-30s           1
33 or 37          1
21 & ?            1
6½                1
30 or 36          1
Middle age        1
                  1
84                1
20/30             1
36 & 26           1
13 or 14          1
Name: count, dtype: int64

In [24]:
# clean the Age column by standarize the inputs to get integers:
import pandas as pd
import numpy as np

# Step 1: Define a function to clean each Age value and extract an integer or np.nan
def clean_age(age):
    if pd.isnull(age):
        return np.nan
    
    age_str = str(age).lower().strip()  # lowercase and strip whitespace
    
    # Handle empty strings
    if age_str == '' or age_str in ['unknown', 'n/a', 'na', '?']:
        return np.nan
    
    # Remove common unwanted characters
    for ch in ['?', '!', ',', '&', '-', '/', '\'']:
        age_str = age_str.replace(ch, ' ')
    
    # Handle special words
    if any(word in age_str for word in ['elderly', 'middle age', 'teen', 'minor', 'months']):
        return np.nan  # or you can assign special codes later
    
    # Extract all numbers in the string
    numbers = [int(s) for s in age_str.split() if s.isdigit()]
    
    if len(numbers) == 0:
        return np.nan
    
    # If multiple numbers, take average (or median)
    return int(round(sum(numbers) / len(numbers)))

# Apply the function to your Age column and create a new cleaned column
df['Age_clean'] = df['Age'].apply(clean_age)

print(df[['Age', 'Age_clean']].head(10))

  Age  Age_clean
0  12       12.0
1   9        9.0
2  26       26.0
3  14       14.0
4  66       66.0
5  26       26.0
6  45       45.0
7  20       20.0
8  30       30.0
9   ?        NaN

In [26]:
print(f"Sum of missing values: {df['Age_clean'].isnull().sum()}\n")

missing_percent = df["Age_clean"].isnull().sum() / len(df) * 100
print(f"Percentage of missing values: {missing_percent:.2f}%\n")

print("Huge format variations: see the last 50 value counts")
counts = df["Age_clean"].value_counts()
print(counts.tail(50))

print("\n")

Sum of missing values: 3082

Percentage of missing values: 43.90%

Huge format variations: see the last 50 value counts
Age_clean
9.0     46
41.0    45
39.0    44
45.0    42
50.0    42
52.0    40
46.0    36
8.0     36
49.0    35
48.0    33
47.0    33
44.0    32
55.0    29
51.0    28
7.0     27
57.0    26
60.0    24
58.0    23
54.0    21
6.0     17
59.0    17
61.0    17
53.0    17
56.0    16
62.0    13
69.0    11
68.0    11
63.0    10
64.0    10
70.0    10
65.0     9
66.0     8
5.0      7
3.0      5
73.0     5
77.0     4
71.0     4
75.0     4
74.0     3
67.0     3
4.0      2
1.0      2
78.0     2
82.0     1
72.0     1
2.0      1
86.0     1
84.0     1
87.0     1
81.0     1
Name: count, dtype: int64

In [28]:
# Transform the age to Age_group:
def assign_age_group(age):
    if pd.isnull(age):
        return 'Unknown'
    elif age < 13:
        return 'Child'
    elif 13 <= age < 20:
        return 'Teen'
    elif 20 <= age < 65:
        return 'Adult'
    else:
        return 'Senior'

df['Age_group'] = df['Age_clean'].apply(assign_age_group)

print(df[['Age_clean', 'Age_group']].value_counts())

Age_clean  Age_group
17.0       Teen         175
18.0       Teen         159
20.0       Adult        158
15.0       Teen         157
19.0       Teen         154
                       ...
81.0       Senior         1
82.0       Senior         1
84.0       Senior         1
86.0       Senior         1
87.0       Senior         1
Name: count, Length: 82, dtype: int64

In [30]:
# HIPOLITO PART

#CLEAN THE FATAL COlUMN:


# Check the unique values in the column 'Fatal Y/N':
print(df['Fatal Y/N'].dropna().apply(lambda x: repr(x)).unique())

["'N'" "'Y'" "'F'" "'M'" "'n'" "'Nq'" "'UNKNOWN'" '2017' "'Y x 2'" "' N'"
 "'N '" "'y'"]

In [32]:
#Change to string and eliminate spaces
df['Fatal Y/N'] = df['Fatal Y/N'].astype(str).str.strip().str.upper()
#Check for valid values
valid_values = {'Y': 'Y', 'N': 'N'}
#Put all the good values the rest will be NaN
df['Fatal Y/N'] = df['Fatal Y/N'].map(valid_values)
#Result
print(df['Fatal Y/N'].unique())

['N' 'Y' nan]

In [34]:
# Count of values (Y, N)
print(df['Fatal Y/N'].value_counts(dropna=False))

Fatal Y/N
N      4897
Y      1480
NaN     643
Name: count, dtype: int64

In [36]:
# Sumayia Part
import numpy as np 

df['Location'] = df['Location'].replace({
    'Panama Bay 8ºN, 79ºW': 'Panama Bay'
}) 
print(df['Location'])

0                      Hilton Head Island
1                               Boca Grande
2                              Sunset Beach
3                      Espiitu Santo Island
4                            Port Noarlunga
                       ...
7015                            Roebuck Bay
7016                                    NaN
7017                         Ocracoke Inlet
7018                             Panama Bay
7019    Below the English fort, Trincomalee
Name: Location, Length: 7020, dtype: object

In [38]:
def clean_column_location(df,column='Location'):
    df[column] = df[column].str.strip().str.upper()
    df[column] = df[column].replace(df['Location']).unique
    return df

df = clean_column_location(df,column='Location')
print(sorted(df['Location'].dropna().unique()))

[<bound method Series.unique of 0                        HILTON HEAD ISLAND
1                               BOCA GRANDE
2                              SUNSET BEACH
3                      ESPIITU SANTO ISLAND
4                            PORT NOARLUNGA
                       ...
7015                            ROEBUCK BAY
7016                                    NaN
7017                         OCRACOKE INLET
7018                             PANAMA BAY
7019    BELOW THE ENGLISH FORT, TRINCOMALEE
Name: Location, Length: 7020, dtype: object>]

In [39]:
df.State.unique()

array(['South Carolina', 'Florida', 'North Carolina', 'South Santo',
       'South Australia', 'Montego Bay', 'Hadera', 'Quntana Roo',
       'Kulhudhuffushi City', 'WA', 'NSW', 'Victoria', 'Batangas Resort',
       'Western Australia', 'Queensland', nan,
       'Near five Cays settlement West Caicos', 'Inhambane Province',
       'Hawaii', 'Grande Terre', '?', 'North of Marsa Alam',
       'Phang Nga Province', 'Bay of Waitangi', 'Kaafu', 'Maui', 'Tela',
       'Timor Leste', 'Trujillo Colon', 'Southern Morocco',
       'Gulf of Honduras', 'Texas', 'Floria', 'California',
       'Maahvah Laamu Atoll', 'Galveston', 'Providenciales Island',
       'Gambier Islands', 'Graet Courland Bay',
       'Clarence Town Long Isand', 'Nunu Atoll', 'Maharashtra',
       'New  South Wales', 'Paradise Island', 'Eastern Cape Province',
       'Sonora', 'New South Wales', 'South Island', 'Guerrero',
       'New Providence   Isoad', 'Jalisco', 'Grand  Bahama Island',
       'Westerm Australia', 'North Island', 'Southern Red Sea',
       'Quintana Roo', 'Belize District', 'South Sinai', 'Bolinao',
       'Valencia', 'Norte', "Savai'i island", 'New York',
       'San Andrés Island', 'Galapagos Islands', 'Red Sea Protectorate',
       'Freeport', 'Tahiti', 'Poum', 'Lucayan Lucayan Archipelago',
       ' Utah', 'New Jersey', 'Mayabeque', 'Easten Cape Province',
       'Artemisa', 'Pernambuco', 'Praslin Island', 'South Province',
       'Patagonia', 'Taveuni Island', 'Gulf of California', 'Vaavu Atoll',
       'KNZ', 'New South ales', 'Samoa', 'Louisiana', 'Mississippi',
       'Western  Australia', 'Western Cape Province', 'Cornwall',
       'Noirth Carolina', 'Okinawa', 'Bali',
       'Hurghada, Red Sea Governorate', 'Ambergris Cay', 'Bora Bora',
       'Georgia', 'Phuket', 'Alabama', 'KZN', 'Isla De San Andres',
       'Guanacoste', 'KwaZulu-Natal', 'São Paulo.', 'Turks and Caicos',
       'Nova Scotia', 'Maryland', 'Chanthaburi Province', 'BAHAMAS',
       'Galapagos', 'Aqaba', 'West Sussex', 'Nouville', 'Ambergris Key',
       'Westmoreland Parish', 'Marquesas', 'Loyalty Islands',
       'The Narrows', 'Raa Atoll', 'Oregon', ' Grand Bahama Island',
       'Franklin County, Florida', 'Virgin Islands', 'Tasmania',
       'Tuamotu Islands', 'Maine', 'Bahamas', 'Exumas', 'Delaware',
       'Abaco Islands', 'Muang district of Satun province, ',
       'Canary Islands', 'Vanua Levu', 'Southland', 'Praslin',
       'Central Province', 'Holquin', 'Moorea', 'Baja ', 'Saint-Gilles',
       'Guam', 'Northern Territory ', 'Cayman Islands', 'Rhode Island',
       'Chatham Islands', 'Quinta Roo', 'Lucayan Archipelago',
       'Bélep Islands', 'Noumea', 'Fernando de Noronha',
       'Liaoning Province', 'New South Wales ', 'Upolo',
       'St. Marys Parish', 'Massachusetts', 'County Cork',
       'Chieti, Province', 'Guizhou Province',
       'San Andres and Providencia Archipelago', 'The Exuma Cays',
       'Colima', 'Hua Hin', 'Cocos Island', 'Alifu Alifu Atoll',
       'New Providence', 'Alagoas', 'Boi Island, Victoria', 'Sepang',
       'Holquin Province', 'Pamplemousses ', ' Upolu Island',
       'Shizuoka Prefecture', 'Castellón', 'New Providence District',
       '40 miles off Grand Bahama Island', 'Ascension Island', 'Majorca',
       'Washington', 'Tabasco', 'Anjouan', 'Ibiza Island', 'South Devon',
       'New Providence ', 'Sharjah, ', 'Baja California Sur', 'Saint-Leu',
       'Luzon Island', 'Tamaulipas', 'Saint-Andre', 'Bimini', 'Tuamotos',
       'North Province', 'New Providence Island', 'Alicante Province',
       'Hong Kong', 'Kochi Prefecture', 'Isla Providencia', 'Suez',
       'Grand Terre', 'Boa Vista Island', 'Santa Catarina State',
       'Altagracia Province', 'Grand Cayman', 'Balneário Camboriú',
       'Fujairah Emirate', 'Grand Canary Island', 'Alicante',
       'Guanacaste', 'Grand Bahama Island', 'Le Port', 'Rangiroa',
       'Saint-Gilles-les-Bains', 'Sardinia', 'Sinaloa', 'Central Tuamotu',
       'd’Étang-Salé', 'Granada', 'Cargados Carajos Shoals (St. Brandon)',
       'Catalonia', 'West End', 'Atsumi peninsula', 'Palmyra Atoll',
       'Wallis and Futuna', 'Baie de Sainte-Marie', 'Society Islands',
       'Trinidad', 'Okinawa Prefecture', '740 miles SE of Tarawa Atoll',
       'Southern District', 'Bay of Biscay', 'Exuma Islands',
       'Saint-Paul', 'Taitung ', 'Kingston Parish', 'Santa Cruz Island',
       'Tuamotus', 'Eleuthera', 'St. Catherine', 'Palawan',
       'Mercury Islands', 'Delta', "Vava'u", 'Inner Hebrides',
       'Saint Leu', 'Trois-Bassins', 'British Colombia', 'Saint-Benoit',
       'Tabuk Province', 'Antofagasta Province', "St John's",
       'Santa Elena', 'East New Britain', 'Bois-Blanc ', 'Moray',
       'Puerto Rico', 'Samaná Province', 'Coast Province',
       'Primorsky Krai',
       'Peter the Great Bay, Khasan, Primorsky Krai (Far East)',
       'Telyakovsky Bay, Khasan,  Primorsky Krai (Far East)', 'Sucre',
       'Middle Caicos', 'Caicos Bank', 'San Andrés archipelago', 'Kedah',
       'Umm al Qaywayan Province', 'Vitu Levu', 'South Sinai Peninsula',
       ' Loyalty Islands', 'Saint Gilles ', 'Virginia', "Ha'api ",
       'Western Province', 'Jeju Province', 'Binh Dinh Province',
       'Antsiranana Province', 'Sinai Peninsula', 'Off Vanua Levu',
       'Merizo', 'Rio Grande Do Sul', 'Dubai', 'Torres Strait',
       'Eastern Province', 'Eastern Cape  Province', 'Maputo Province',
       'Bocas', 'Fife', 'Devon', 'Makira-Ulawa Province', 'Mombasa',
       'Catalunya', 'St. Johns Reef', 'Off Green Island', 'North Region',
       'Batangas province', 'Strait of Malacca', 'Guantanamo Province',
       'Maranhão', 'Red Sea', 'Batanes Provine', 'Luzon',
       'Northern Territory', ' Split-Dalmatia Count,', 'North Devon',
       'US Virgin Islands', 'San Carlos', 'Cabo San Lucas', 'Sussex',
       'Bahia', 'Easter Ross', 'Guerro', 'Yasawa Islands',
       'Northern Bahamas', 'Tokyo Bay', 'Baja California', 'Green Bay',
       'Marovo Lagoon', 'Territory of Cocos (Keeling) Islands',
       'Oslo Fjord', 'Kent', 'Bird Island', 'Providenciales',
       'Bimini Islands', 'Muhafazat Hadramawt', 'Cook islans',
       'Surigao del Norte', 'Between Somalia & Yemen', 'Ambergris Caye',
       'Saint-Pierre', 'Kentucky', 'Andros Islands', 'Western Area',
       '300 miles from Antigua', '800 miles from land',
       '600 nm west of the Canary Islands', 'Simpson Bay', 'East Wall',
       'Inner Islands', 'Shanghai', 'Malampa Province',
       "South Ch'ungch'ong Province", 'Bay Islands', 'New Mexico',
       'Santa Isabel Province', 'Santiago de Cuba Province',
       'Camaguey Province', 'Conservatória District', 'South Carolina ',
       'Kuril Islands in the Pacific', 'Wakayama Prefecture',
       "Nuku'alofa", 'Saint-Benoît',
       'South Island, near Karitane north of Dunedin', 'Rocha',
       'Northlands', 'Anzoategui', 'Cook Islands', 'Tamil Nadu',
       'Pearl Islands', 'Taveuni', 'Johnston Atoll', 'Baatan',
       'Rio de Janeiro', 'Nueva Esparta', 'North Pacific coast',
       'Caroline Islands', 'Cheshire', 'Louisiade Archipelago',
       'KwaZulu-Natal between Port Edward and Port St Johns',
       'Milne Bay Province', 'Cikobia Island (north of Vanua Levu)',
       'Rayong Province', 'Zamboanga del Sur Province',
       'Rio Grande de Norte',
       'Off the western coast of peninsular Malaysia', 'New Brunswick',
       'Miyako Island', 'Alaska', 'Minerva Reef', 'Madang Province',
       'Worcestershire', 'Phang nga Province', 'Alinglaplap Atoll',
       'Adriatic Sea', 'Ralik Chain', 'Grand Baie',
       "L' Etang Salé-les-Bains", 'Southern Japan', 'Cap Vert Peninsula',
       'Marches region', 'Berry Islands', 'Transvaal', 'Gaza',
       "Grand'Anse", 'Beaufonds', 'Miyako', "L'Etang-Sale",
       'Chatham Islands ', 'South Sinai, Gulf of Aqaba', 'Cat Cay',
       'Missouri', '12 miles off the north coast', 'Saint-Paul ',
       'Chatham Islands, east of New  Zealand', 'Saint-Denis', 'Vava’u',
       'Clearwater Bay', 'New Territories', 'Aichi Prefecture',
       'Tafea Province', 'Kagoshima Prefecture', 'Saint-Joseph',
       'Banaadir Region', 'La Libertad', 'Costa Blanca', 'Walkers Cay',
       'On the Kowloon penisula, south of Sai Kung', 'Ehime Prefecture',
       'Tongapatu Group', 'West Africa', 'Wakaya Island',
       'North Carolina ', 'Mexico / Caribbean Sea', 'Antarctic Ocean',
       'La Saline-les-Bains', 'Sea of Japan', 'Tavenui', 'Ligurian Sea',
       "L'Etang-Salé", 'Kowloon Peninsula', 'Port Shelter',
       'Laucala Island', 'Sainte-Marie', 'Great Exuma Island',
       'Sainte-Suzanne', 'Tuscany', 'Tyrrhenian Sea', 'New Ireland',
       'Valpariso Province', 'Viscayan Sea', 'Manfredonia ',
       'Tokyo Prefecture', 'Saint-Louis', 'Mindoro',
       'Between DR and Puerto Rico', 'Between Honiara & Isabel Island',
       'Florida Straits', 'Gulf of Lyons', 'Cádiz', 'Sicily',
       'Andikira Fokithes', 'Central Philippines', 'Northwest Italy',
       'English Channel', 'North & South Carolina', 'Carolina coast',
       'Kumamoto Prefecture', 'Biserta', 'Saint-Philippe', 'Chungnam',
       'Eronogo Region', 'Coquimbo', 'Pagasitikos Gulf',
       "St. Mary's Parish", 'Romblon Province', 'Lamu Archipelago',
       'Los Vilos', 'Island of Kos', "Ha'api", 'Madeira Islands',
       'Ho Ha Wan Marine Park', 'Southern Thailand', 'Golfo de Venezia',
       'Ralik Archipelago', 'South China Sea 200 miles from Hong Kong',
       'Reggio Calabria Province', 'Mirs Bay ', 'Genoa Province',
       'Ganges-Brahmaputra delta', ' Split-Dalmatia County', 'Florida ',
       'Primorje-Gorski Kotar County ', 'Aulong Island',
       'Western Caroline Islands', 'Upolu Island', 'Antibes',
       'Illeginni Atoll', 'Istria County', 'Between Beira & Maputo',
       'Istria ', 'Khuzestan Province', 'Inhambe Province',
       'Namonuito Atoll', 'Eastern Caroline Islands',
       'Western Caroline Islands (North Pacific Ocean)', 'Caribbean Sea',
       'St. Andrew Parish', '200 nm southeast of Manila', 'Limpopo River',
       'New Ireland Province', 'Zadar County', 'Basrah', 'Clarendon',
       'Moro Gulf', 'Johor', 'Magdalena Department', 'Mafia Island',
       'Gulf Province', 'Morobe Province', 'Limón Province',
       'Rombion Province', 'Veracruz', 'Brindisi Province',
       'Kagawa Prefecture', 'Liguria', 'Hamilton', 'Out Islands',
       'Mugla Province', 'Gibraltar', 'New Britain', 'Bay of Maputo',
       'Duke of York Islands', 'Taranto province', 'Northern Taiwan',
       'Admiralty Islands, Manus Province', 'North Sumatra',
       "250 miles southwest of O'ahu, Hawaii", 'West coast', 'East Sepik',
       'Near Bougainville (North Solomons)', 'East of the Gulf of Aqaba',
       'Bougainville (North Solomons)', 'Victoria ', 'Okayama Prefecture',
       'San Blas', 'Connecticut', 'Lau Group', 'Caribbean Coast',
       'Vita Levu', 'San Blas Islands', 'Puntarenas Province',
       'Lomaloma, Lau', 'Between Southampton & Canary Islands',
       'South Coast, East New Britain', ' Lau Province', 'Ysabel Island',
       'Santo Domingo', 'San Blas coast', 'Thessaly',
       'Lomaiviti  Island Group', 'Rodrigues', 'Manus Island',
       'Pinas Bay', 'Grand Turk Island', 'Off coast of West Africa',
       'Sharon', 'Antalya Province', 'Northern District',
       'New Ireland Province, Bismarck Archipelago', 'Cyclades',
       'Viti Levu', 'Off the Coromandel Peninsula, North Island',
       'Madang', 'Guadalcanal Province', '10ºS, 142ºE', 'Kwajalein Atoll',
       'East Flores', 'Guerrrero', 'Western Luzon Island',
       'Shefa Province', '165  miles from Bermuda',
       '25 km off the coast of Iran & 483km from mouth of Persian Gulf',
       'Venice Province', 'Sandaun Province', 'Anatolia',
       'East New Britain Province', 'United Arab Emirates',
       'Wake Island (EnenKio)', '19S, 178?E', 'Pennsylvania',
       '9.35N 79.35W', 'Roncador Bank', 'Western District',
       'Enroute from Suez to Aden (Yemen)',
       '180 miles southeast of Okinawa', 'Eniwetok Atoll',
       'Cap-Vert Peninsula', 'Delagoa Bay', 'In the English Channel ',
       'Cook Strait', 'Unknown, treated at Wick, SCOTLAND',
       'Corregidor Island', 'Paget', '33N, 68W', 'Casamance',
       'Madang (WO)', 'Between Timor & Darwin, Australia',
       'Pacific coast', 'St. Georges ', 'Eastern  Province',
       'Northwest of Viti Levu', 'West New Britain Province',
       'Rigo subdistrict', 'Masbate', '400 miles southeast of Sri Lanka',
       'Lomaiviti Province', 'Kadavu', 'Leyte Island', 'Orissa',
       'Hokkaido Prefecture', 'North Palawan', 'Queaon', 'Istria',
       'PANAMA', 'In the Gulf Stream ', 'Mersin Province', 'Guyamas',
       'Between England & South Africa', 'Mindanao',
       ' Kikori River mouth', 'South Chungcheong Province',
       'Ahirkapi coast', 'Tutuila Island', 'Primorje-Gorski Kotar County',
       'Between Hawaii & Wake Island', 'Taipei Hsien',
       'Ibaraki Prefecture', 'South Pacific Ocean', 'Canal Zone',
       '1,000 miles east of Hawaii', 'Honiara', 'Yucatan Channel',
       'Havana Province', 'Karun River',
       'Abau Subdistrict,Central Province',
       'New Britain, Bismarck Archipelago', 'Estuaire Province',
       'Near Dakar, Cap Vert Peninsula',
       'Near the Andaman & Nicobar Islands', 'Mozambique Channel',
       'Tyrrenian Sea', 'Congreve Channel', 'St. Thomas Bay', 'Madeira',
       'Between Comores & Madagascar', 'Corfu Island',
       '1000 miles west of Hawaii', 'Izo Islands',
       ' Primorje-Gorski Kotar County', 'Open sea', 'Aden',
       'New Ireland, Bismarck Archipelago', '18S / 50E', 'Illinois',
       'Isles del Rosario', 'Wake Island', 'Isle of Man',
       'Nagasaki Prefecture', 'Liguaria', 'Slovenia', 'South shore ',
       'Buenos Aires Province', '330 to 350 miles east of Wake Island',
       'Gulf of Panama', 'Genoa  Province',
       'Abau Sub District, Central Province', 'Teramo', 'Red Sea State',
       'Curacao', 'Port Louis Province', 'Montserrado', 'Bay of Maputu',
       'Sofala Province', 'Salerno', 'Salerno Province', 'Taranto',
       'Naples Province', ' La Libertad', 'Sago Prefecture', 'Savona',
       'Southern Province', 'Jakarta Harbour', 'Singapore Harbor',
       'Calabria', 'Shatt-el-Arab River', 'Shatt-al-Arab River',
       'Calvados Archipelago', 'Shat-Al-Arab River',
       'Between Kwajalein Atoll & Johnston Island', 'Attica',
       'Adana Province', 'Bandar Ma’shur sea inlet', 'Saipan',
       'Carpathian Sea', 'Kwajalein', 'Dar-es-Salaam ',
       '"Head of the Gulf"', 'Ryukyu', ' North Carolina',
       'In transit between Tinian and Leyte', 'Northern Java', 'Tel Aviv',
       'Colon Province', '300 miles east of Luzon',
       'Bernardino Strait near Gulf of Leyte',
       'Off Samar Island in the Gulf of Leyte',
       'Lake Nicaragua (fresh water)', 'Pacific Ocean',
       'Near the Fiji Islands', '40 miles south of Naples ',
       'Northwest of Papua New Guinea', 'Between Hawaii and U.S.A.',
       'Off South American coast', 'Makora-Ulawa Province',
       '04.05N-13.23W', 'Midway Atoll',
       '300 miles east of St. Thomas (Virgin Islands)',
       'West of Ceylon (Sri  Lanka)', 'East Java', 'Camiguin Island',
       'Cay Sal Bank', '(Southwestern Pacific)', 'Panama City',
       'Off Libya', 'North of Pernambuco, Brazil', 'Off coast of Ecuador',
       'Trelawney Province', 'In Convoy OB 274', 'New Georgia',
       'Panama Bay (Pacific Ocean)', 'Bwagaoia', 'Western Papuan Gulf',
       'Torres Strait ', 'Carabobo', 'Ascension Bay', 'North China',
       'Lower San Juan River', 'Nicoya Peninsula', 'Basrah City',
       'West Bengal', 'Queensland ', 'Argyllshire', 'Arran', 'Argyll',
       'Fishing Grounds', 'Newfoundland', 'Isle of Wight',
       'Makira-Uluwa Province', 'Northern (Oro) Province', 'Herzliyah',
       'Elqui Province', 'Istanbul', 'St Michael Parish',
       'Barlavento Islands', 'Viti Levu Island', 'Bay of Fundy', 'Manila',
       'French Southern Territories', 'Niua ', 'Black River',
       'Phoenix Islands', 'Cienfuegos Province', 'Santiago Island',
       'Near Puntarenas', 'Porto Seguro', 'Salinas Bay',
       'Golfo di Genova in the Ligurian Sea', 'Sants-Montjic',
       'South of the Equator ', 'Bay of Monaco', 'Valencia ', 'Vancouver',
       '2 to 3 miles off Taboguilla Island, Pacific Ocean', 'Dorset',
       '150 miles offshore', 'Galica', 'Demerara County', 'Vera Cruz',
       ' Manila Bay', 'Lucy', 'East Yorkshire', 'Cavite Province, Luzon',
       'Cape Haitien', 'Leyte', 'Halifax', 'Turtle Bogue',
       '60 miles north of San Domingo in the West Indies', 'Colon',
       'Off Ireland', 'Mediterranean Sea', 'Gran Canaria',
       'Apolima Strait', 'Essequibo', 'Lagos ', 'Trieste', '5aint-Denis',
       'Viti Levu group', 'Balearics', 'Málaga ', 'Georges Bank',
       'Zambesi River', 'Colón Province', '30 nm from Singapore',
       'Andalucia', 'Sfax', 'South Atlantic Ocean', 'Galicia',
       'Gulf of Suez', 'Java', 'Tiburon Peninsula', 'Oaxaca',
       'Harare Province', 'Khánh Hòa Province', 'Maluku Province',
       'Suez Canal', ' Nusa Tenggara', 'Between Noumea & Sydney',
       'Villa Clara Province', 'Ancona Province', 'Quezon',
       'Rio San Juan', 'Southern Cyprus', 'Syracuse', 'Western Viscayas',
       'Mindoro Occidental', 'Negros ', 'Imperia Province', 'Muala',
       'East coast', 'Ratak ', 'Socotra Islands', 'Off Cape Haitien',
       'Moluccas', 'Bocas del Toro', 'Provence', 'Bay of Campeche',
       'Rangoon', 'Bay of Bengal', 'Bayelsa State', 'South Island?',
       'Norfolk Island', 'Brittany', 'Line Islands', 'Woodlark Islands',
       'Munxar Reef', 'Northern Peloponnese', 'Between Perth & Colombo',
       'Gujarat', 'Lukovo', 'Cortés',
       'Somewhere between Philadelphia and Hiogo, Japan', ' New Jersey',
       "Côte d'Azur  ", 'Maldonado coast', 'Western Banks',
       'Andaman Islands', 'Off the coast of West Africa',
       'Misamis Oriental', 'Strait of Messina', 'Hoogly River',
       'Cyclades archipelago', 'Mount Lebanon',
       'Between Hastings & Fairlight, Sussex', 'Veracruz ',
       'Gilbert Islands', 'Lomaiviti Provine',
       'Off the coast of South America', '22ºN, 88ºE',
       'Matanzas Province (north coast)', 'Alpes Maritime', 'Edinburgh',
       'Eastern Catalona', '300 miles east of Mauritius',
       'Foveaux Strait', 'Sumatra', 'Conakry Region', 'Corfu', 'Malaga',
       'Bonin Islands', 'Fernando Po Island', 'Mangaia Island',
       'New York ', 'Corfu ', 'Between Australia & USA', 'Tongatapu',
       'Norfolk', 'Island of St. Thomas', 'Cumberland', 'Sanma Province',
       "35º39 : 165º8'", 'CUBA', 'Western Area ', 'Paraiba', 'Cape Coast',
       'Rivers State', 'St. Anne', 'St Helena', "Côte d'Azur ",
       'Skagerrak arm of the North Sea', 'Las Perlas archipelago',
       'Bardestrand', 'Southwest coast', 'Quebec', 'Kerala',
       'Nice & Marseilles', 'Magarita or Cubagua Islands', 'Yucatan',
       'Ionian Sea', 'Piraeus', 'Off Thessaly', 'Paloma',
       'Bocas del Toro Province', 'Rocha ', 'Gulf of Tadjoura',
       'Cyrenaica', 'Northern Province', 'Los Roques  Islands',
       'Dodecanese Islands', 'Malaita Province', 'South Korea',
       'Milne Bay  Province', 'Island of Volos', 'Amirante Islands',
       'Kadavu Island Group', 'Toamasina Province', 'Riau Province',
       'Bikini Atoll', 'Between New Ireland & New Britain',
       'Ba Ria-Vung Tau  Province', 'Moala Island'], dtype=object)

In [42]:
df['State'].fillna(method='ffill').tail()

/var/folders/tn/xjfvdsqn1_d879f1bppyx1xh0000gn/T/ipykernel_1151/3441788617.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['State'].fillna(method='ffill').tail()

7015    Western Australia
7016    Western Australia
7017       North Carolina
7018       North Carolina
7019     Eastern Province
Name: State, dtype: object

In [44]:
import numpy as np



State = {
    'Floria': 'Florida',
    'South Carolina ': 'South Carolina',
    'North Carolina ': 'North Carolina',
    'New  South Wales': 'New South Wales',
    'New South ales': 'New South Wales',
    'New South Wales ': 'New South Wales',
    'Baja ': 'Baja California',
    'Westerm Australia': 'Western Australia',
    'Maahvah Laamu Atoll': 'Laamu Atoll',
    'Grand  Bahama Island': 'Grand Bahama Island',
    'Isla De San Andres': 'San Andrés Island',
    'Lucayan Lucayan Archipelago': 'Lucayan Archipelago',
    'New Providence   Isoad': 'New Providence Island',
    'Hurghada, Red Sea Governorate': 'Red Sea Governorate',
    'KwaZulu-Natal between Port Edward and Port St Johns': 'KwaZulu-Natal',
    'Western  Australia': 'Western Australia',
    'Western Cape Province': 'Western Cape',
    'Noirth Carolina': 'North Carolina',
    'Guerro': 'Guerrero',
    'Guerrrero': 'Guerrero',
    'Namonuito Atoll': 'Micronesia',
    'Grand Baie': 'Mauritius',
    'Guantanamo Province': 'Guantánamo Province',
    'Unknown, treated at Wick, SCOTLAND': 'Unknown',
    'Bahamas': 'The Bahamas',
    'BAHAMAS': 'The Bahamas',
    'Exumas': 'Exuma Islands',
    'Grand Bahama Island': 'Grand Bahama Island',
    ' Grand Bahama Island': 'Grand Bahama Island',
    'South Santo': 'Espírito Santo',
    'Montego Bay': 'Jamaica',
    'Grande Terre': 'New Caledonia',
    '?': 'Unknown',
    'nan': 'Unknown',
    'Lucayan Lucayan Archipelago': 'Lucayan Archipelago',
    'South Province': 'Unknown',
    'KNZ': 'KwaZulu-Natal', 
    'New South ales': 'New South Wales',
    'Noirth Carolina': 'North Carolina',
    'KZN':'KwaZulu-Natal', 
    '40 miles off Grand Bahama Island': 'Unknown', 
    '740 miles SE of Tarawa Atoll':'Unknown',
    '300 miles from Antigua': 'Unknown',
    '800 miles from land': 'Unknown',
    '600 nm west of the Canary Islands': 'Unknown', 
    'KwaZulu-Natal between Port Edward and Port St Johns': 'Unknown',
    '12 miles off the north coast': 'Unknown',
    'New Territories': 'Unknown',
    'On the Kowloon penisula, south of Sai Kung': 'Unknown',
    'Between DR and Puerto Rico': 'Unknown', 
    'Between Honiara & Isabel Island': 'Unknown',
    "Ha'api": 'Unknown', 
    'South China Sea 200 miles from Hong Kong': 'Unknown',
    '200 nm southeast of Manila': 'Unknown', 
    "250 miles southwest of O'ahu, Hawaii": 'Unknown',
    'Near Bougainville (North Solomons)': 'Unknown', 
    'Off the Coromandel Peninsula, North Island': 'Unknown',
    '10ºS, 142ºE': 'Unknown', 
    '165  miles from Bermuda': 'Unknown',
    '25 km off the coast of Iran & 483km from mouth of Persian Gulf': 'Unknown',
    '19S, 178?E': 'Unknown', 
    '9.35N 79.35W': 'Unknown', 
    'Enroute from Suez to Aden (Yemen)': 'Unknown',
    '180 miles southeast of Okinawa': 'Unknown', 
    'In the English Channel ': 'Unknown',
    'Unknown, treated at Wick, SCOTLAND': 'Unknown',
    '33N, 68W': 'Unknown', 
    'Madang (WO)': 'Unknown', 
    'Between Timor & Darwin, Australia': 'Unknown',
    '400 miles southeast of Sri Lanka': 'Unknown',
    'In the Gulf Stream ': 'Unknown',
    'Between England & South Africa': 'Unknown', 
    'Mindanao': 'Unknown',
    'Between Hawaii & Wake Island': 'Unknown', 
    '1,000 miles east of Hawaii': 'Unknown', 
    'Central Province': 'Unknown',
    '1000 miles west of Hawaii': 'Unknown', 
    '18S / 50E': 'Unknown',
    '330 to 350 miles east of Wake Island': 'Unknown',
    'Between Kwajalein Atoll & Johnston Island': 'Unknown', 
    'In transit between Tinian and Leyte': 'Unknown',
    '300 miles east of Luzon': 'Unknown',
    'Bernardino Strait near Gulf of Leyte': 'Unknown',
    'Off Samar Island in the Gulf of Leyte': 'Unknown',
    'Lake Nicaragua (fresh water)': 'Unknown', 
    'Near the Fiji Islands': 'Unknown', 
    '40 miles south of Naples ': 'Unknown',
    'Northwest of Papua New Guinea': 'Unknown', 
    'Between Hawaii and U.S.A.': 'Unknown',
    'Off South American coast': 'Unknown',
    '04.05N-13.23W': 'Unknown', 
    '300 miles east of St. Thomas (Virgin Islands)': 'Unknown',
    'West of Ceylon (Sri  Lanka)': 'Unknown', 
    'Off Libya': 'Unknown',  
    'North of Pernambuco, Brazil': 'Unknown', 
    'In Convoy OB 274': 'Unknown', 
    '2 to 3 miles off Taboguilla Island, Pacific Ocean': 'Unknown', 
    '150 miles offshore': 'Unknown', 
    '60 miles north of San Domingo in the West Indies': 'Unknown', 
    '30 nm from Singapore': 'Unknown',
    'Somewhere between Philadelphia and Hiogo, Japan': 'Unknown', 
    'Between Hastings & Fairlight, Sussex': 'Unknown', 
    'Off the coast of South America': 'Unknown', 
    '22ºN, 88ºE': 'Unknown',
    '300 miles east of Mauritius': 'Unknown',
    'Between Australia & USA': 'Unknown', 
    "35º39 : 165º8'": 'Unknown', 
    'Between New Ireland & New Britain': 'Unknown'
}  


df['state_clean'] = df['State'].str.strip()

# Apply mapping
df['state_standardized'] = df['state_clean'].replace('State')

# Optional: Replace all nulls or ambiguous with 'Unknown'
df['state_standardized'] = df['state_standardized'].fillna('Unknown')

# Check unique cleaned states
cleaned_unique_state = df['state_standardized'].unique()

/var/folders/tn/xjfvdsqn1_d879f1bppyx1xh0000gn/T/ipykernel_1151/4131875704.py:120: FutureWarning: Series.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  df['state_standardized'] = df['state_clean'].replace('State')

In [46]:
def clean_column_state(df, column='State'):
    df[column] = df[column].str.strip().str.upper()
    df[column] = df[column].replace('state')
    return df

df = clean_column_state(df,column='State')
print(sorted(df['State'].dropna().unique()))

['"HEAD OF THE GULF"', '(SOUTHWESTERN PACIFIC)', '04.05N-13.23W', '1,000 MILES EAST OF HAWAII', '1000 MILES WEST OF HAWAII', '10ºS, 142ºE', '12 MILES OFF THE NORTH COAST', '150 MILES OFFSHORE', '165  MILES FROM BERMUDA', '180 MILES SOUTHEAST OF OKINAWA', '18S / 50E', '19S, 178?E', '2 TO 3 MILES OFF TABOGUILLA ISLAND, PACIFIC OCEAN', '200 NM SOUTHEAST OF MANILA', '22ºN, 88ºE', '25 KM OFF THE COAST OF IRAN & 483KM FROM MOUTH OF PERSIAN GULF', "250 MILES SOUTHWEST OF O'AHU, HAWAII", '30 NM FROM SINGAPORE', '300 MILES EAST OF LUZON', '300 MILES EAST OF MAURITIUS', '300 MILES EAST OF ST. THOMAS (VIRGIN ISLANDS)', '300 MILES FROM ANTIGUA', '330 TO 350 MILES EAST OF WAKE ISLAND', '33N, 68W', "35º39 : 165º8'", '40 MILES OFF GRAND BAHAMA ISLAND', '40 MILES SOUTH OF NAPLES', '400 MILES SOUTHEAST OF SRI LANKA', '5AINT-DENIS', '60 MILES NORTH OF SAN DOMINGO IN THE WEST INDIES', '600 NM WEST OF THE CANARY ISLANDS', '740 MILES SE OF TARAWA ATOLL', '800 MILES FROM LAND', '9.35N 79.35W', '?', 'ABACO ISLANDS', 'ABAU SUB DISTRICT, CENTRAL PROVINCE', 'ABAU SUBDISTRICT,CENTRAL PROVINCE', 'ADANA PROVINCE', 'ADEN', 'ADMIRALTY ISLANDS, MANUS PROVINCE', 'ADRIATIC SEA', 'AHIRKAPI COAST', 'AICHI PREFECTURE', 'ALABAMA', 'ALAGOAS', 'ALASKA', 'ALICANTE', 'ALICANTE PROVINCE', 'ALIFU ALIFU ATOLL', 'ALINGLAPLAP ATOLL', 'ALPES MARITIME', 'ALTAGRACIA PROVINCE', 'AMBERGRIS CAY', 'AMBERGRIS CAYE', 'AMBERGRIS KEY', 'AMIRANTE ISLANDS', 'ANATOLIA', 'ANCONA PROVINCE', 'ANDALUCIA', 'ANDAMAN ISLANDS', 'ANDIKIRA FOKITHES', 'ANDROS ISLANDS', 'ANJOUAN', 'ANTALYA PROVINCE', 'ANTARCTIC OCEAN', 'ANTIBES', 'ANTOFAGASTA PROVINCE', 'ANTSIRANANA PROVINCE', 'ANZOATEGUI', 'APOLIMA STRAIT', 'AQABA', 'ARGYLL', 'ARGYLLSHIRE', 'ARRAN', 'ARTEMISA', 'ASCENSION BAY', 'ASCENSION ISLAND', 'ATSUMI PENINSULA', 'ATTICA', 'AULONG ISLAND', 'BA RIA-VUNG TAU  PROVINCE', 'BAATAN', 'BAHAMAS', 'BAHIA', 'BAIE DE SAINTE-MARIE', 'BAJA', 'BAJA CALIFORNIA', 'BAJA CALIFORNIA SUR', 'BALEARICS', 'BALI', 'BALNEÁRIO CAMBORIÚ', 'BANAADIR REGION', 'BANDAR MA’SHUR SEA INLET', 'BARDESTRAND', 'BARLAVENTO ISLANDS', 'BASRAH', 'BASRAH CITY', 'BATANES PROVINE', 'BATANGAS PROVINCE', 'BATANGAS RESORT', 'BAY ISLANDS', 'BAY OF BENGAL', 'BAY OF BISCAY', 'BAY OF CAMPECHE', 'BAY OF FUNDY', 'BAY OF MAPUTO', 'BAY OF MAPUTU', 'BAY OF MONACO', 'BAY OF WAITANGI', 'BAYELSA STATE', 'BEAUFONDS', 'BELIZE DISTRICT', 'BERNARDINO STRAIT NEAR GULF OF LEYTE', 'BERRY ISLANDS', 'BETWEEN AUSTRALIA & USA', 'BETWEEN BEIRA & MAPUTO', 'BETWEEN COMORES & MADAGASCAR', 'BETWEEN DR AND PUERTO RICO', 'BETWEEN ENGLAND & SOUTH AFRICA', 'BETWEEN HASTINGS & FAIRLIGHT, SUSSEX', 'BETWEEN HAWAII & WAKE ISLAND', 'BETWEEN HAWAII AND U.S.A.', 'BETWEEN HONIARA & ISABEL ISLAND', 'BETWEEN KWAJALEIN ATOLL & JOHNSTON ISLAND', 'BETWEEN NEW IRELAND & NEW BRITAIN', 'BETWEEN NOUMEA & SYDNEY', 'BETWEEN PERTH & COLOMBO', 'BETWEEN SOMALIA & YEMEN', 'BETWEEN SOUTHAMPTON & CANARY ISLANDS', 'BETWEEN TIMOR & DARWIN, AUSTRALIA', 'BIKINI ATOLL', 'BIMINI', 'BIMINI ISLANDS', 'BINH DINH PROVINCE', 'BIRD ISLAND', 'BISERTA', 'BLACK RIVER', 'BOA VISTA ISLAND', 'BOCAS', 'BOCAS DEL TORO', 'BOCAS DEL TORO PROVINCE', 'BOI ISLAND, VICTORIA', 'BOIS-BLANC', 'BOLINAO', 'BONIN ISLANDS', 'BORA BORA', 'BOUGAINVILLE (NORTH SOLOMONS)', 'BRINDISI PROVINCE', 'BRITISH COLOMBIA', 'BRITTANY', 'BUENOS AIRES PROVINCE', 'BWAGAOIA', 'BÉLEP ISLANDS', 'CABO SAN LUCAS', 'CAICOS BANK', 'CALABRIA', 'CALIFORNIA', 'CALVADOS ARCHIPELAGO', 'CAMAGUEY PROVINCE', 'CAMIGUIN ISLAND', 'CANAL ZONE', 'CANARY ISLANDS', 'CAP VERT PENINSULA', 'CAP-VERT PENINSULA', 'CAPE COAST', 'CAPE HAITIEN', 'CARABOBO', 'CARGADOS CARAJOS SHOALS (ST. BRANDON)', 'CARIBBEAN COAST', 'CARIBBEAN SEA', 'CAROLINA COAST', 'CAROLINE ISLANDS', 'CARPATHIAN SEA', 'CASAMANCE', 'CASTELLÓN', 'CAT CAY', 'CATALONIA', 'CATALUNYA', 'CAVITE PROVINCE, LUZON', 'CAY SAL BANK', 'CAYMAN ISLANDS', 'CENTRAL PHILIPPINES', 'CENTRAL PROVINCE', 'CENTRAL TUAMOTU', 'CHANTHABURI PROVINCE', 'CHATHAM ISLANDS', 'CHATHAM ISLANDS, EAST OF NEW  ZEALAND', 'CHESHIRE', 'CHIETI, PROVINCE', 'CHUNGNAM', 'CIENFUEGOS PROVINCE', 'CIKOBIA ISLAND (NORTH OF VANUA LEVU)', 'CLARENCE TOWN LONG ISAND', 'CLARENDON', 'CLEARWATER BAY', 'COAST PROVINCE', 'COCOS ISLAND', 'COLIMA', 'COLON', 'COLON PROVINCE', 'COLÓN PROVINCE', 'CONAKRY REGION', 'CONGREVE CHANNEL', 'CONNECTICUT', 'CONSERVATÓRIA DISTRICT', 'COOK ISLANDS', 'COOK ISLANS', 'COOK STRAIT', 'COQUIMBO', 'CORFU', 'CORFU ISLAND', 'CORNWALL', 'CORREGIDOR ISLAND', 'CORTÉS', 'COSTA BLANCA', 'COUNTY CORK', 'CUBA', 'CUMBERLAND', 'CURACAO', 'CYCLADES', 'CYCLADES ARCHIPELAGO', 'CYRENAICA', 'CÁDIZ', "CÔTE D'AZUR", 'DAR-ES-SALAAM', 'DELAGOA BAY', 'DELAWARE', 'DELTA', 'DEMERARA COUNTY', 'DEVON', 'DODECANESE ISLANDS', 'DORSET', 'DUBAI', 'DUKE OF YORK ISLANDS', 'D’ÉTANG-SALÉ', 'EAST COAST', 'EAST FLORES', 'EAST JAVA', 'EAST NEW BRITAIN', 'EAST NEW BRITAIN PROVINCE', 'EAST OF THE GULF OF AQABA', 'EAST SEPIK', 'EAST WALL', 'EAST YORKSHIRE', 'EASTEN CAPE PROVINCE', 'EASTER ROSS', 'EASTERN  PROVINCE', 'EASTERN CAPE  PROVINCE', 'EASTERN CAPE PROVINCE', 'EASTERN CAROLINE ISLANDS', 'EASTERN CATALONA', 'EASTERN PROVINCE', 'EDINBURGH', 'EHIME PREFECTURE', 'ELEUTHERA', 'ELQUI PROVINCE', 'ENGLISH CHANNEL', 'ENIWETOK ATOLL', 'ENROUTE FROM SUEZ TO ADEN (YEMEN)', 'ERONOGO REGION', 'ESSEQUIBO', 'ESTUAIRE PROVINCE', 'EXUMA ISLANDS', 'EXUMAS', 'FERNANDO DE NORONHA', 'FERNANDO PO ISLAND', 'FIFE', 'FISHING GROUNDS', 'FLORIA', 'FLORIDA', 'FLORIDA STRAITS', 'FOVEAUX STRAIT', 'FRANKLIN COUNTY, FLORIDA', 'FREEPORT', 'FRENCH SOUTHERN TERRITORIES', 'FUJAIRAH EMIRATE', 'GALAPAGOS', 'GALAPAGOS ISLANDS', 'GALICA', 'GALICIA', 'GALVESTON', 'GAMBIER ISLANDS', 'GANGES-BRAHMAPUTRA DELTA', 'GAZA', 'GENOA  PROVINCE', 'GENOA PROVINCE', 'GEORGES BANK', 'GEORGIA', 'GIBRALTAR', 'GILBERT ISLANDS', 'GOLFO DE VENEZIA', 'GOLFO DI GENOVA IN THE LIGURIAN SEA', 'GRAET COURLAND BAY', 'GRAN CANARIA', 'GRANADA', 'GRAND  BAHAMA ISLAND', 'GRAND BAHAMA ISLAND', 'GRAND BAIE', 'GRAND CANARY ISLAND', 'GRAND CAYMAN', 'GRAND TERRE', 'GRAND TURK ISLAND', "GRAND'ANSE", 'GRANDE TERRE', 'GREAT EXUMA ISLAND', 'GREEN BAY', 'GUADALCANAL PROVINCE', 'GUAM', 'GUANACASTE', 'GUANACOSTE', 'GUANTANAMO PROVINCE', 'GUERRERO', 'GUERRO', 'GUERRRERO', 'GUIZHOU PROVINCE', 'GUJARAT', 'GULF OF CALIFORNIA', 'GULF OF HONDURAS', 'GULF OF LYONS', 'GULF OF PANAMA', 'GULF OF SUEZ', 'GULF OF TADJOURA', 'GULF PROVINCE', 'GUYAMAS', "HA'API", 'HADERA', 'HALIFAX', 'HAMILTON', 'HARARE PROVINCE', 'HAVANA PROVINCE', 'HAWAII', 'HERZLIYAH', 'HO HA WAN MARINE PARK', 'HOKKAIDO PREFECTURE', 'HOLQUIN', 'HOLQUIN PROVINCE', 'HONG KONG', 'HONIARA', 'HOOGLY RIVER', 'HUA HIN', 'HURGHADA, RED SEA GOVERNORATE', 'IBARAKI PREFECTURE', 'IBIZA ISLAND', 'ILLEGINNI ATOLL', 'ILLINOIS', 'IMPERIA PROVINCE', 'IN CONVOY OB 274', 'IN THE ENGLISH CHANNEL', 'IN THE GULF STREAM', 'IN TRANSIT BETWEEN TINIAN AND LEYTE', 'INHAMBANE PROVINCE', 'INHAMBE PROVINCE', 'INNER HEBRIDES', 'INNER ISLANDS', 'IONIAN SEA', 'ISLA DE SAN ANDRES', 'ISLA PROVIDENCIA', 'ISLAND OF KOS', 'ISLAND OF ST. THOMAS', 'ISLAND OF VOLOS', 'ISLE OF MAN', 'ISLE OF WIGHT', 'ISLES DEL ROSARIO', 'ISTANBUL', 'ISTRIA', 'ISTRIA COUNTY', 'IZO ISLANDS', 'JAKARTA HARBOUR', 'JALISCO', 'JAVA', 'JEJU PROVINCE', 'JOHNSTON ATOLL', 'JOHOR', 'KAAFU', 'KADAVU', 'KADAVU ISLAND GROUP', 'KAGAWA PREFECTURE', 'KAGOSHIMA PREFECTURE', 'KARUN RIVER', 'KEDAH', 'KENT', 'KENTUCKY', 'KERALA', 'KHUZESTAN PROVINCE', 'KHÁNH HÒA PROVINCE', 'KIKORI RIVER MOUTH', 'KINGSTON PARISH', 'KNZ', 'KOCHI PREFECTURE', 'KOWLOON PENINSULA', 'KULHUDHUFFUSHI CITY', 'KUMAMOTO PREFECTURE', 'KURIL ISLANDS IN THE PACIFIC', 'KWAJALEIN', 'KWAJALEIN ATOLL', 'KWAZULU-NATAL', 'KWAZULU-NATAL BETWEEN PORT EDWARD AND PORT ST JOHNS', 'KZN', "L' ETANG SALÉ-LES-BAINS", "L'ETANG-SALE", "L'ETANG-SALÉ", 'LA LIBERTAD', 'LA SALINE-LES-BAINS', 'LAGOS', 'LAKE NICARAGUA (FRESH WATER)', 'LAMU ARCHIPELAGO', 'LAS PERLAS ARCHIPELAGO', 'LAU GROUP', 'LAU PROVINCE', 'LAUCALA ISLAND', 'LE PORT', 'LEYTE', 'LEYTE ISLAND', 'LIAONING PROVINCE', 'LIGUARIA', 'LIGURIA', 'LIGURIAN SEA', 'LIMPOPO RIVER', 'LIMÓN PROVINCE', 'LINE ISLANDS', 'LOMAIVITI  ISLAND GROUP', 'LOMAIVITI PROVINCE', 'LOMAIVITI PROVINE', 'LOMALOMA, LAU', 'LOS ROQUES  ISLANDS', 'LOS VILOS', 'LOUISIADE ARCHIPELAGO', 'LOUISIANA', 'LOWER SAN JUAN RIVER', 'LOYALTY ISLANDS', 'LUCAYAN ARCHIPELAGO', 'LUCAYAN LUCAYAN ARCHIPELAGO', 'LUCY', 'LUKOVO', 'LUZON', 'LUZON ISLAND', 'MAAHVAH LAAMU ATOLL', 'MADANG', 'MADANG (WO)', 'MADANG PROVINCE', 'MADEIRA', 'MADEIRA ISLANDS', 'MAFIA ISLAND', 'MAGARITA OR CUBAGUA ISLANDS', 'MAGDALENA DEPARTMENT', 'MAHARASHTRA', 'MAINE', 'MAJORCA', 'MAKIRA-ULAWA PROVINCE', 'MAKIRA-ULUWA PROVINCE', 'MAKORA-ULAWA PROVINCE', 'MALAGA', 'MALAITA PROVINCE', 'MALAMPA PROVINCE', 'MALDONADO COAST', 'MALUKU PROVINCE', 'MANFREDONIA', 'MANGAIA ISLAND', 'MANILA', 'MANILA BAY', 'MANUS ISLAND', 'MAPUTO PROVINCE', 'MARANHÃO', 'MARCHES REGION', 'MAROVO LAGOON', 'MARQUESAS', 'MARYLAND', 'MASBATE', 'MASSACHUSETTS', 'MATANZAS PROVINCE (NORTH COAST)', 'MAUI', 'MAYABEQUE', 'MEDITERRANEAN SEA', 'MERCURY ISLANDS', 'MERIZO', 'MERSIN PROVINCE', 'MEXICO / CARIBBEAN SEA', 'MIDDLE CAICOS', 'MIDWAY ATOLL', 'MILNE BAY  PROVINCE', 'MILNE BAY PROVINCE', 'MINDANAO', 'MINDORO', 'MINDORO OCCIDENTAL', 'MINERVA REEF', 'MIRS BAY', 'MISAMIS ORIENTAL', 'MISSISSIPPI', 'MISSOURI', 'MIYAKO', 'MIYAKO ISLAND', 'MOALA ISLAND', 'MOLUCCAS', 'MOMBASA', 'MONTEGO BAY', 'MONTSERRADO', 'MOOREA', 'MORAY', 'MORO GULF', 'MOROBE PROVINCE', 'MOUNT LEBANON', 'MOZAMBIQUE CHANNEL', 'MUALA', 'MUANG DISTRICT OF SATUN PROVINCE,', 'MUGLA PROVINCE', 'MUHAFAZAT HADRAMAWT', 'MUNXAR REEF', 'MÁLAGA', 'NAGASAKI PREFECTURE', 'NAMONUITO ATOLL', 'NAPLES PROVINCE', 'NEAR BOUGAINVILLE (NORTH SOLOMONS)', 'NEAR DAKAR, CAP VERT PENINSULA', 'NEAR FIVE CAYS SETTLEMENT WEST CAICOS', 'NEAR PUNTARENAS', 'NEAR THE ANDAMAN & NICOBAR ISLANDS', 'NEAR THE FIJI ISLANDS', 'NEGROS', 'NEW  SOUTH WALES', 'NEW BRITAIN', 'NEW BRITAIN, BISMARCK ARCHIPELAGO', 'NEW BRUNSWICK', 'NEW GEORGIA', 'NEW IRELAND', 'NEW IRELAND PROVINCE', 'NEW IRELAND PROVINCE, BISMARCK ARCHIPELAGO', 'NEW IRELAND, BISMARCK ARCHIPELAGO', 'NEW JERSEY', 'NEW MEXICO', 'NEW PROVIDENCE', 'NEW PROVIDENCE   ISOAD', 'NEW PROVIDENCE DISTRICT', 'NEW PROVIDENCE ISLAND', 'NEW SOUTH ALES', 'NEW SOUTH WALES', 'NEW TERRITORIES', 'NEW YORK', 'NEWFOUNDLAND', 'NICE & MARSEILLES', 'NICOYA PENINSULA', 'NIUA', 'NOIRTH CAROLINA', 'NORFOLK', 'NORFOLK ISLAND', 'NORTE', 'NORTH & SOUTH CAROLINA', 'NORTH CAROLINA', 'NORTH CHINA', 'NORTH DEVON', 'NORTH ISLAND', 'NORTH OF MARSA ALAM', 'NORTH OF PERNAMBUCO, BRAZIL', 'NORTH PACIFIC COAST', 'NORTH PALAWAN', 'NORTH PROVINCE', 'NORTH REGION', 'NORTH SUMATRA', 'NORTHERN (ORO) PROVINCE', 'NORTHERN BAHAMAS', 'NORTHERN DISTRICT', 'NORTHERN JAVA', 'NORTHERN PELOPONNESE', 'NORTHERN PROVINCE', 'NORTHERN TAIWAN', 'NORTHERN TERRITORY', 'NORTHLANDS', 'NORTHWEST ITALY', 'NORTHWEST OF PAPUA NEW GUINEA', 'NORTHWEST OF VITI LEVU', 'NOUMEA', 'NOUVILLE', 'NOVA SCOTIA', 'NSW', 'NUEVA ESPARTA', "NUKU'ALOFA", 'NUNU ATOLL', 'NUSA TENGGARA', 'OAXACA', 'OFF CAPE HAITIEN', 'OFF COAST OF ECUADOR', 'OFF COAST OF WEST AFRICA', 'OFF GREEN ISLAND', 'OFF IRELAND', 'OFF LIBYA', 'OFF SAMAR ISLAND IN THE GULF OF LEYTE', 'OFF SOUTH AMERICAN COAST', 'OFF THE COAST OF SOUTH AMERICA', 'OFF THE COAST OF WEST AFRICA', 'OFF THE COROMANDEL PENINSULA, NORTH ISLAND', 'OFF THE WESTERN COAST OF PENINSULAR MALAYSIA', 'OFF THESSALY', 'OFF VANUA LEVU', 'OKAYAMA PREFECTURE', 'OKINAWA', 'OKINAWA PREFECTURE', 'ON THE KOWLOON PENISULA, SOUTH OF SAI KUNG', 'OPEN SEA', 'OREGON', 'ORISSA', 'OSLO FJORD', 'OUT ISLANDS', 'PACIFIC COAST', 'PACIFIC OCEAN', 'PAGASITIKOS GULF', 'PAGET', 'PALAWAN', 'PALMYRA ATOLL', 'PALOMA', 'PAMPLEMOUSSES', 'PANAMA', 'PANAMA BAY (PACIFIC OCEAN)', 'PANAMA CITY', 'PARADISE ISLAND', 'PARAIBA', 'PATAGONIA', 'PEARL ISLANDS', 'PENNSYLVANIA', 'PERNAMBUCO', 'PETER THE GREAT BAY, KHASAN, PRIMORSKY KRAI (FAR EAST)', 'PHANG NGA PROVINCE', 'PHOENIX ISLANDS', 'PHUKET', 'PINAS BAY', 'PIRAEUS', 'PORT LOUIS PROVINCE', 'PORT SHELTER', 'PORTO SEGURO', 'POUM', 'PRASLIN', 'PRASLIN ISLAND', 'PRIMORJE-GORSKI KOTAR COUNTY', 'PRIMORSKY KRAI', 'PROVENCE', 'PROVIDENCIALES', 'PROVIDENCIALES ISLAND', 'PUERTO RICO', 'PUNTARENAS PROVINCE', 'QUEAON', 'QUEBEC', 'QUEENSLAND', 'QUEZON', 'QUINTA ROO', 'QUINTANA ROO', 'QUNTANA ROO', 'RAA ATOLL', 'RALIK ARCHIPELAGO', 'RALIK CHAIN', 'RANGIROA', 'RANGOON', 'RATAK', 'RAYONG PROVINCE', 'RED SEA', 'RED SEA PROTECTORATE', 'RED SEA STATE', 'REGGIO CALABRIA PROVINCE', 'RHODE ISLAND', 'RIAU PROVINCE', 'RIGO SUBDISTRICT', 'RIO DE JANEIRO', 'RIO GRANDE DE NORTE', 'RIO GRANDE DO SUL', 'RIO SAN JUAN', 'RIVERS STATE', 'ROCHA', 'RODRIGUES', 'ROMBION PROVINCE', 'ROMBLON PROVINCE', 'RONCADOR BANK', 'RYUKYU', 'SAGO PREFECTURE', 'SAINT GILLES', 'SAINT LEU', 'SAINT-ANDRE', 'SAINT-BENOIT', 'SAINT-BENOÎT', 'SAINT-DENIS', 'SAINT-GILLES', 'SAINT-GILLES-LES-BAINS', 'SAINT-JOSEPH', 'SAINT-LEU', 'SAINT-LOUIS', 'SAINT-PAUL', 'SAINT-PHILIPPE', 'SAINT-PIERRE', 'SAINTE-MARIE', 'SAINTE-SUZANNE', 'SAIPAN', 'SALERNO', 'SALERNO PROVINCE', 'SALINAS BAY', 'SAMANÁ PROVINCE', 'SAMOA', 'SAN ANDRES AND PROVIDENCIA ARCHIPELAGO', 'SAN ANDRÉS ARCHIPELAGO', 'SAN ANDRÉS ISLAND', 'SAN BLAS', 'SAN BLAS COAST', 'SAN BLAS ISLANDS', 'SAN CARLOS', 'SANDAUN PROVINCE', 'SANMA PROVINCE', 'SANTA CATARINA STATE', 'SANTA CRUZ ISLAND', 'SANTA ELENA', 'SANTA ISABEL PROVINCE', 'SANTIAGO DE CUBA PROVINCE', 'SANTIAGO ISLAND', 'SANTO DOMINGO', 'SANTS-MONTJIC', 'SARDINIA', "SAVAI'I ISLAND", 'SAVONA', 'SEA OF JAPAN', 'SEPANG', 'SFAX', 'SHANGHAI', 'SHARJAH,', 'SHARON', 'SHAT-AL-ARAB RIVER', 'SHATT-AL-ARAB RIVER', 'SHATT-EL-ARAB RIVER', 'SHEFA PROVINCE', 'SHIZUOKA PREFECTURE', 'SICILY', 'SIMPSON BAY', 'SINAI PENINSULA', 'SINALOA', 'SINGAPORE HARBOR', 'SKAGERRAK ARM OF THE NORTH SEA', 'SLOVENIA', 'SOCIETY ISLANDS', 'SOCOTRA ISLANDS', 'SOFALA PROVINCE', 'SOMEWHERE BETWEEN PHILADELPHIA AND HIOGO, JAPAN', 'SONORA', 'SOUTH ATLANTIC OCEAN', 'SOUTH AUSTRALIA', 'SOUTH CAROLINA', "SOUTH CH'UNGCH'ONG PROVINCE", 'SOUTH CHINA SEA 200 MILES FROM HONG KONG', 'SOUTH CHUNGCHEONG PROVINCE', 'SOUTH COAST, EAST NEW BRITAIN', 'SOUTH DEVON', 'SOUTH ISLAND', 'SOUTH ISLAND, NEAR KARITANE NORTH OF DUNEDIN', 'SOUTH ISLAND?', 'SOUTH KOREA', 'SOUTH OF THE EQUATOR', 'SOUTH PACIFIC OCEAN', 'SOUTH PROVINCE', 'SOUTH SANTO', 'SOUTH SHORE', 'SOUTH SINAI', 'SOUTH SINAI PENINSULA', 'SOUTH SINAI, GULF OF AQABA', 'SOUTHERN CYPRUS', 'SOUTHERN DISTRICT', 'SOUTHERN JAPAN', 'SOUTHERN MOROCCO', 'SOUTHERN PROVINCE', 'SOUTHERN RED SEA', 'SOUTHERN THAILAND', 'SOUTHLAND', 'SOUTHWEST COAST', 'SPLIT-DALMATIA COUNT,', 'SPLIT-DALMATIA COUNTY', 'ST HELENA', "ST JOHN'S", 'ST MICHAEL PARISH', 'ST. ANDREW PARISH', 'ST. ANNE', 'ST. CATHERINE', 'ST. GEORGES', 'ST. JOHNS REEF', "ST. MARY'S PARISH", 'ST. MARYS PARISH', 'ST. THOMAS BAY', 'STRAIT OF MALACCA', 'STRAIT OF MESSINA', 'SUCRE', 'SUEZ', 'SUEZ CANAL', 'SUMATRA', 'SURIGAO DEL NORTE', 'SUSSEX', 'SYRACUSE', 'SÃO PAULO.', 'TABASCO', 'TABUK PROVINCE', 'TAFEA PROVINCE', 'TAHITI', 'TAIPEI HSIEN', 'TAITUNG', 'TAMAULIPAS', 'TAMIL NADU', 'TARANTO', 'TARANTO PROVINCE', 'TASMANIA', 'TAVENUI', 'TAVEUNI', 'TAVEUNI ISLAND', 'TEL AVIV', 'TELA', 'TELYAKOVSKY BAY, KHASAN,  PRIMORSKY KRAI (FAR EAST)', 'TERAMO', 'TERRITORY OF COCOS (KEELING) ISLANDS', 'TEXAS', 'THE EXUMA CAYS', 'THE NARROWS', 'THESSALY', 'TIBURON PENINSULA', 'TIMOR LESTE', 'TOAMASINA PROVINCE', 'TOKYO BAY', 'TOKYO PREFECTURE', 'TONGAPATU GROUP', 'TONGATAPU', 'TORRES STRAIT', 'TRANSVAAL', 'TRELAWNEY PROVINCE', 'TRIESTE', 'TRINIDAD', 'TROIS-BASSINS', 'TRUJILLO COLON', 'TUAMOTOS', 'TUAMOTU ISLANDS', 'TUAMOTUS', 'TURKS AND CAICOS', 'TURTLE BOGUE', 'TUSCANY', 'TUTUILA ISLAND', 'TYRRENIAN SEA', 'TYRRHENIAN SEA', 'UMM AL QAYWAYAN PROVINCE', 'UNITED ARAB EMIRATES', 'UNKNOWN, TREATED AT WICK, SCOTLAND', 'UPOLO', 'UPOLU ISLAND', 'US VIRGIN ISLANDS', 'UTAH', 'VAAVU ATOLL', 'VALENCIA', 'VALPARISO PROVINCE', 'VANCOUVER', 'VANUA LEVU', "VAVA'U", 'VAVA’U', 'VENICE PROVINCE', 'VERA CRUZ', 'VERACRUZ', 'VICTORIA', 'VILLA CLARA PROVINCE', 'VIRGIN ISLANDS', 'VIRGINIA', 'VISCAYAN SEA', 'VITA LEVU', 'VITI LEVU', 'VITI LEVU GROUP', 'VITI LEVU ISLAND', 'VITU LEVU', 'WA', 'WAKAYA ISLAND', 'WAKAYAMA PREFECTURE', 'WAKE ISLAND', 'WAKE ISLAND (ENENKIO)', 'WALKERS CAY', 'WALLIS AND FUTUNA', 'WASHINGTON', 'WEST AFRICA', 'WEST BENGAL', 'WEST COAST', 'WEST END', 'WEST NEW BRITAIN PROVINCE', 'WEST OF CEYLON (SRI  LANKA)', 'WEST SUSSEX', 'WESTERM AUSTRALIA', 'WESTERN  AUSTRALIA', 'WESTERN AREA', 'WESTERN AUSTRALIA', 'WESTERN BANKS', 'WESTERN CAPE PROVINCE', 'WESTERN CAROLINE ISLANDS', 'WESTERN CAROLINE ISLANDS (NORTH PACIFIC OCEAN)', 'WESTERN DISTRICT', 'WESTERN LUZON ISLAND', 'WESTERN PAPUAN GULF', 'WESTERN PROVINCE', 'WESTERN VISCAYAS', 'WESTMORELAND PARISH', 'WOODLARK ISLANDS', 'WORCESTERSHIRE', 'YASAWA ISLANDS', 'YSABEL ISLAND', 'YUCATAN', 'YUCATAN CHANNEL', 'ZADAR COUNTY', 'ZAMBESI RIVER', 'ZAMBOANGA DEL SUR PROVINCE']

/var/folders/tn/xjfvdsqn1_d879f1bppyx1xh0000gn/T/ipykernel_1151/1181233811.py:3: FutureWarning: Series.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  df[column] = df[column].replace('state')

In [48]:
# Top 10 State with more shark attack
top_10_state = df['State'].value_counts().head(10)
print(top_10_state)

State
FLORIDA                  1188
NEW SOUTH WALES           523
QUEENSLAND                353
HAWAII                    344
CALIFORNIA                324
WESTERN AUSTRALIA         237
KWAZULU-NATAL             218
WESTERN CAPE PROVINCE     197
SOUTH CAROLINA            175
EASTERN CAPE PROVINCE     168
Name: count, dtype: int64

In [50]:
# Check the unique values in the column 'Country'
print(df['Country'].unique())

['USA' 'Vanuatu' 'Australia' 'Jamaica' 'Israel' 'Mexico' 'Maldives'
 'Philippines' 'Bahamas' 'Turks and Caicos' 'Mozambique' 'New Caledonia'
 'Egypt' 'Thailand' 'New Zealand' 'Hawaii' 'Honduras' 'Indonesia'
 'Morocco' 'Belize' 'Maldive Islands' 'French Polynesia' 'Tobago'
 'AUSTRALIA' 'INDIA' 'TRINIDAD' 'BAHAMAS' 'SOUTH AFRICA' 'MEXICO'
 'NEW ZEALAND' 'EGYPT' 'BELIZE' 'PHILIPPINES' 'Coral Sea' 'SPAIN'
 'PORTUGAL' 'SAMOA' 'COLOMBIA' 'ECUADOR' 'FRENCH POLYNESIA'
 'NEW CALEDONIA' 'TURKS and CaICOS' 'CUBA' 'BRAZIL' 'SEYCHELLES'
 'ARGENTINA' 'FIJI' 'MeXICO' 'South Africa' 'ENGLAND' 'JAPAN' 'INDONESIA'
 'JAMAICA' 'MALDIVES' 'THAILAND' 'COLUMBIA' 'COSTA RICA'
 'British Overseas Territory' 'CANADA' 'JORDAN' 'ST KITTS / NEVIS'
 'ST MARTIN' 'PAPUA NEW GUINEA' 'REUNION ISLAND' 'ISRAEL' 'CHINA'
 'IRELAND' 'ITALY' 'MALAYSIA' 'LIBYA' nan 'MAURITIUS' 'SOLOMON ISLANDS'
 'ST HELENA, British overseas territory' 'COMOROS' 'REUNION'
 'UNITED KINGDOM' 'UNITED ARAB EMIRATES' 'CAPE VERDE' 'Fiji'
 'DOMINICAN REPUBLIC' 'CAYMAN ISLANDS' 'ARUBA' 'MOZAMBIQUE' 'PUERTO RICO'
 'ATLANTIC OCEAN' 'GREECE' 'ST. MARTIN' 'FRANCE' 'TRINIDAD & TOBAGO'
 'KIRIBATI' 'DIEGO GARCIA' 'TAIWAN' 'PALESTINIAN TERRITORIES' 'GUAM'
 'NIGERIA' 'TONGA' 'SCOTLAND' 'CROATIA' 'SAUDI ARABIA' 'CHILE' 'ANTIGUA'
 'KENYA' 'RUSSIA' 'TURKS & CAICOS' 'UNITED ARAB EMIRATES (UAE)' 'AZORES'
 'SOUTH KOREA' 'MALTA' 'VIETNAM' 'MADAGASCAR' 'PANAMA' 'SOMALIA' 'NEVIS'
 'BRITISH VIRGIN ISLANDS' 'NORWAY' 'SENEGAL' 'YEMEN' 'GULF OF ADEN'
 'Sierra Leone' 'ST. MAARTIN' 'GRAND CAYMAN' 'Seychelles' 'LIBERIA'
 'VANUATU' 'MEXICO ' 'HONDURAS' 'VENEZUELA' 'SRI LANKA' ' TONGA' 'URUGUAY'
 'MICRONESIA' 'CARIBBEAN SEA' 'OKINAWA' 'TANZANIA' 'MARSHALL ISLANDS'
 'EGYPT / ISRAEL' 'NORTHERN ARABIAN SEA' 'HONG KONG' 'EL SALVADOR'
 'ANGOLA' 'BERMUDA' 'MONTENEGRO' 'IRAN' 'TUNISIA' 'NAMIBIA'
 'NORTH ATLANTIC OCEAN' 'SOUTH CHINA SEA' 'BANGLADESH' 'PALAU'
 'WESTERN SAMOA' 'PACIFIC OCEAN ' 'BRITISH ISLES' 'GRENADA' 'IRAQ'
 'TURKEY' 'SINGAPORE' 'NEW BRITAIN' 'SUDAN' 'JOHNSTON ISLAND'
 'SOUTH PACIFIC OCEAN' 'NEW GUINEA' 'RED SEA' 'NORTH PACIFIC OCEAN'
 'FEDERATED STATES OF MICRONESIA' 'MID ATLANTIC OCEAN' 'ADMIRALTY ISLANDS'
 'BRITISH WEST INDIES' 'SOUTH ATLANTIC OCEAN' 'PERSIAN GULF'
 'RED SEA / INDIAN OCEAN' 'PACIFIC OCEAN' 'NORTH SEA' 'NICARAGUA '
 'MALDIVE ISLANDS' 'AMERICAN SAMOA' 'ANDAMAN / NICOBAR ISLANDAS' 'GABON'
 'MAYOTTE' 'NORTH ATLANTIC OCEAN ' 'THE BALKANS' 'SUDAN?' 'MARTINIQUE'
 'INDIAN OCEAN' 'GUATEMALA' 'NETHERLANDS ANTILLES'
 'NORTHERN MARIANA ISLANDS' 'IRAN / IRAQ' 'JAVA' 'SIERRA LEONE'
 ' PHILIPPINES' 'NICARAGUA' 'CENTRAL PACIFIC' 'SOLOMON ISLANDS / VANUATU'
 'SOUTHWEST PACIFIC OCEAN' 'BAY OF BENGAL' 'MID-PACIFC OCEAN' 'SLOVENIA'
 'CURACAO' 'ICELAND' 'ITALY / CROATIA' 'BARBADOS' 'MONACO' 'GUYANA'
 'HAITI' 'SAN DOMINGO' 'KUWAIT' 'YEMEN ' 'FALKLAND ISLANDS' 'CRETE'
 'CYPRUS' 'EGYPT ' 'WEST INDIES' 'BURMA' 'LEBANON' 'PARAGUAY'
 'BRITISH NEW GUINEA' 'CEYLON' 'OCEAN' 'GEORGIA' 'SYRIA' 'TUVALU'
 'INDIAN OCEAN?' 'GUINEA' 'ANDAMAN ISLANDS' 'EQUATORIAL GUINEA / CAMEROON'
 'COOK ISLANDS' 'TOBAGO' 'PERU' 'AFRICA' 'ALGERIA' 'Coast of AFRICA'
 'TASMAN SEA' 'GHANA' 'GREENLAND' 'MEDITERRANEAN SEA' 'SWEDEN' 'ROATAN'
 'Between PORTUGAL & INDIA' 'DJIBOUTI' 'BAHREIN' 'KOREA' 'RED SEA?'
 'ASIA?' 'CEYLON (SRI LANKA)']

In [52]:
#All in mayus and eliminate spaces
df['Country'] = df['Country'].str.strip().str.upper()
print(df['Country'].unique())

['USA' 'VANUATU' 'AUSTRALIA' 'JAMAICA' 'ISRAEL' 'MEXICO' 'MALDIVES'
 'PHILIPPINES' 'BAHAMAS' 'TURKS AND CAICOS' 'MOZAMBIQUE' 'NEW CALEDONIA'
 'EGYPT' 'THAILAND' 'NEW ZEALAND' 'HAWAII' 'HONDURAS' 'INDONESIA'
 'MOROCCO' 'BELIZE' 'MALDIVE ISLANDS' 'FRENCH POLYNESIA' 'TOBAGO' 'INDIA'
 'TRINIDAD' 'SOUTH AFRICA' 'CORAL SEA' 'SPAIN' 'PORTUGAL' 'SAMOA'
 'COLOMBIA' 'ECUADOR' 'CUBA' 'BRAZIL' 'SEYCHELLES' 'ARGENTINA' 'FIJI'
 'ENGLAND' 'JAPAN' 'COLUMBIA' 'COSTA RICA' 'BRITISH OVERSEAS TERRITORY'
 'CANADA' 'JORDAN' 'ST KITTS / NEVIS' 'ST MARTIN' 'PAPUA NEW GUINEA'
 'REUNION ISLAND' 'CHINA' 'IRELAND' 'ITALY' 'MALAYSIA' 'LIBYA' nan
 'MAURITIUS' 'SOLOMON ISLANDS' 'ST HELENA, BRITISH OVERSEAS TERRITORY'
 'COMOROS' 'REUNION' 'UNITED KINGDOM' 'UNITED ARAB EMIRATES' 'CAPE VERDE'
 'DOMINICAN REPUBLIC' 'CAYMAN ISLANDS' 'ARUBA' 'PUERTO RICO'
 'ATLANTIC OCEAN' 'GREECE' 'ST. MARTIN' 'FRANCE' 'TRINIDAD & TOBAGO'
 'KIRIBATI' 'DIEGO GARCIA' 'TAIWAN' 'PALESTINIAN TERRITORIES' 'GUAM'
 'NIGERIA' 'TONGA' 'SCOTLAND' 'CROATIA' 'SAUDI ARABIA' 'CHILE' 'ANTIGUA'
 'KENYA' 'RUSSIA' 'TURKS & CAICOS' 'UNITED ARAB EMIRATES (UAE)' 'AZORES'
 'SOUTH KOREA' 'MALTA' 'VIETNAM' 'MADAGASCAR' 'PANAMA' 'SOMALIA' 'NEVIS'
 'BRITISH VIRGIN ISLANDS' 'NORWAY' 'SENEGAL' 'YEMEN' 'GULF OF ADEN'
 'SIERRA LEONE' 'ST. MAARTIN' 'GRAND CAYMAN' 'LIBERIA' 'VENEZUELA'
 'SRI LANKA' 'URUGUAY' 'MICRONESIA' 'CARIBBEAN SEA' 'OKINAWA' 'TANZANIA'
 'MARSHALL ISLANDS' 'EGYPT / ISRAEL' 'NORTHERN ARABIAN SEA' 'HONG KONG'
 'EL SALVADOR' 'ANGOLA' 'BERMUDA' 'MONTENEGRO' 'IRAN' 'TUNISIA' 'NAMIBIA'
 'NORTH ATLANTIC OCEAN' 'SOUTH CHINA SEA' 'BANGLADESH' 'PALAU'
 'WESTERN SAMOA' 'PACIFIC OCEAN' 'BRITISH ISLES' 'GRENADA' 'IRAQ' 'TURKEY'
 'SINGAPORE' 'NEW BRITAIN' 'SUDAN' 'JOHNSTON ISLAND' 'SOUTH PACIFIC OCEAN'
 'NEW GUINEA' 'RED SEA' 'NORTH PACIFIC OCEAN'
 'FEDERATED STATES OF MICRONESIA' 'MID ATLANTIC OCEAN' 'ADMIRALTY ISLANDS'
 'BRITISH WEST INDIES' 'SOUTH ATLANTIC OCEAN' 'PERSIAN GULF'
 'RED SEA / INDIAN OCEAN' 'NORTH SEA' 'NICARAGUA' 'AMERICAN SAMOA'
 'ANDAMAN / NICOBAR ISLANDAS' 'GABON' 'MAYOTTE' 'THE BALKANS' 'SUDAN?'
 'MARTINIQUE' 'INDIAN OCEAN' 'GUATEMALA' 'NETHERLANDS ANTILLES'
 'NORTHERN MARIANA ISLANDS' 'IRAN / IRAQ' 'JAVA' 'CENTRAL PACIFIC'
 'SOLOMON ISLANDS / VANUATU' 'SOUTHWEST PACIFIC OCEAN' 'BAY OF BENGAL'
 'MID-PACIFC OCEAN' 'SLOVENIA' 'CURACAO' 'ICELAND' 'ITALY / CROATIA'
 'BARBADOS' 'MONACO' 'GUYANA' 'HAITI' 'SAN DOMINGO' 'KUWAIT'
 'FALKLAND ISLANDS' 'CRETE' 'CYPRUS' 'WEST INDIES' 'BURMA' 'LEBANON'
 'PARAGUAY' 'BRITISH NEW GUINEA' 'CEYLON' 'OCEAN' 'GEORGIA' 'SYRIA'
 'TUVALU' 'INDIAN OCEAN?' 'GUINEA' 'ANDAMAN ISLANDS'
 'EQUATORIAL GUINEA / CAMEROON' 'COOK ISLANDS' 'PERU' 'AFRICA' 'ALGERIA'
 'COAST OF AFRICA' 'TASMAN SEA' 'GHANA' 'GREENLAND' 'MEDITERRANEAN SEA'
 'SWEDEN' 'ROATAN' 'BETWEEN PORTUGAL & INDIA' 'DJIBOUTI' 'BAHREIN' 'KOREA'
 'RED SEA?' 'ASIA?' 'CEYLON (SRI LANKA)']

In [54]:
# CLEANING DATA OF COUNTRIES

import numpy as np

country_corrections = {
    # Correccions Ortografics
    'COLUMBIA': 'COLOMBIA',
    'TRINIDAD & TOBAGO': 'TRINIDAD AND TOBAGO',
    'MALDIVE ISLANDS': 'MALDIVES',
    'UNITED ARAB EMIRATES (UAE)': 'UNITED ARAB EMIRATES',
    'ST. MARTIN': 'ST MARTIN',
    'ST. MAARTIN': 'ST MARTIN',
    'TRINIDAD': 'TRINIDAD AND TOBAGO',

    # Agrupations
    'ENGLAND': 'UK',
    'SCOTLAND': 'UK',
    'UNITED KINGDOM': 'UK',
    'BRITISH ISLES': 'UK',
    'BRITISH WEST INDIES': 'UK',
    'BRITISH VIRGIN ISLANDS': 'UK',

    # Ocean y region not usefull
    'PACIFIC OCEAN': 'OTHER',
    'ATLANTIC OCEAN': 'OTHER',
    'INDIAN OCEAN': 'OTHER',
    'SOUTH PACIFIC OCEAN': 'OTHER',
    'CARIBBEAN SEA': 'OTHER',
    'OCEAN': 'OTHER',
    'GULF OF ADEN': 'OTHER',
    'MID-PACIFC OCEAN': 'OTHER',
    'NORTH ATLANTIC OCEAN': 'OTHER',
    'RED SEA': 'OTHER',
    'RED SEA / INDIAN OCEAN': 'OTHER',
    'NORTH PACIFIC OCEAN': 'OTHER',
    'CENTRAL PACIFIC': 'OTHER',

    # Some other mistakes → agrupar
    'DIEGO GARCIA': 'OTHER',
    'JOHNSTON ISLAND': 'OTHER',
    'ADMIRALTY ISLANDS': 'OTHER',
    'MID ATLANTIC OCEAN': 'OTHER',
    'UNKNOWN': 'OTHER',
    'AFRICA': 'OTHER',
    'ASIA?': 'OTHER',
    'SUDAN?': 'SUDAN',
}

In [56]:
# Import the country correction on or columns

def clean_column_country(df, column='Country'):
    # All mayus
    df[column] = df[column].str.strip().str.upper()
    #use the country_corrections to filter the column
    df[column] = df[column].replace(country_corrections)
    return df

df = clean_column_country(df, column='Country')

print(sorted(df['Country'].dropna().unique()))

['ALGERIA', 'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'ANDAMAN ISLANDS', 'ANGOLA', 'ANTIGUA', 'ARGENTINA', 'ARUBA', 'AUSTRALIA', 'AZORES', 'BAHAMAS', 'BAHREIN', 'BANGLADESH', 'BARBADOS', 'BAY OF BENGAL', 'BELIZE', 'BERMUDA', 'BETWEEN PORTUGAL & INDIA', 'BRAZIL', 'BRITISH NEW GUINEA', 'BRITISH OVERSEAS TERRITORY', 'BURMA', 'CANADA', 'CAPE VERDE', 'CAYMAN ISLANDS', 'CEYLON', 'CEYLON (SRI LANKA)', 'CHILE', 'CHINA', 'COAST OF AFRICA', 'COLOMBIA', 'COMOROS', 'COOK ISLANDS', 'CORAL SEA', 'COSTA RICA', 'CRETE', 'CROATIA', 'CUBA', 'CURACAO', 'CYPRUS', 'DJIBOUTI', 'DOMINICAN REPUBLIC', 'ECUADOR', 'EGYPT', 'EGYPT / ISRAEL', 'EL SALVADOR', 'EQUATORIAL GUINEA / CAMEROON', 'FALKLAND ISLANDS', 'FEDERATED STATES OF MICRONESIA', 'FIJI', 'FRANCE', 'FRENCH POLYNESIA', 'GABON', 'GEORGIA', 'GHANA', 'GRAND CAYMAN', 'GREECE', 'GREENLAND', 'GRENADA', 'GUAM', 'GUATEMALA', 'GUINEA', 'GUYANA', 'HAITI', 'HAWAII', 'HONDURAS', 'HONG KONG', 'ICELAND', 'INDIA', 'INDIAN OCEAN?', 'INDONESIA', 'IRAN', 'IRAN / IRAQ', 'IRAQ', 'IRELAND', 'ISRAEL', 'ITALY', 'ITALY / CROATIA', 'JAMAICA', 'JAPAN', 'JAVA', 'JORDAN', 'KENYA', 'KIRIBATI', 'KOREA', 'KUWAIT', 'LEBANON', 'LIBERIA', 'LIBYA', 'MADAGASCAR', 'MALAYSIA', 'MALDIVES', 'MALTA', 'MARSHALL ISLANDS', 'MARTINIQUE', 'MAURITIUS', 'MAYOTTE', 'MEDITERRANEAN SEA', 'MEXICO', 'MICRONESIA', 'MONACO', 'MONTENEGRO', 'MOROCCO', 'MOZAMBIQUE', 'NAMIBIA', 'NETHERLANDS ANTILLES', 'NEVIS', 'NEW BRITAIN', 'NEW CALEDONIA', 'NEW GUINEA', 'NEW ZEALAND', 'NICARAGUA', 'NIGERIA', 'NORTH SEA', 'NORTHERN ARABIAN SEA', 'NORTHERN MARIANA ISLANDS', 'NORWAY', 'OKINAWA', 'OTHER', 'PALAU', 'PALESTINIAN TERRITORIES', 'PANAMA', 'PAPUA NEW GUINEA', 'PARAGUAY', 'PERSIAN GULF', 'PERU', 'PHILIPPINES', 'PORTUGAL', 'PUERTO RICO', 'RED SEA?', 'REUNION', 'REUNION ISLAND', 'ROATAN', 'RUSSIA', 'SAMOA', 'SAN DOMINGO', 'SAUDI ARABIA', 'SENEGAL', 'SEYCHELLES', 'SIERRA LEONE', 'SINGAPORE', 'SLOVENIA', 'SOLOMON ISLANDS', 'SOLOMON ISLANDS / VANUATU', 'SOMALIA', 'SOUTH AFRICA', 'SOUTH ATLANTIC OCEAN', 'SOUTH CHINA SEA', 'SOUTH KOREA', 'SOUTHWEST PACIFIC OCEAN', 'SPAIN', 'SRI LANKA', 'ST HELENA, BRITISH OVERSEAS TERRITORY', 'ST KITTS / NEVIS', 'ST MARTIN', 'SUDAN', 'SWEDEN', 'SYRIA', 'TAIWAN', 'TANZANIA', 'TASMAN SEA', 'THAILAND', 'THE BALKANS', 'TOBAGO', 'TONGA', 'TRINIDAD AND TOBAGO', 'TUNISIA', 'TURKEY', 'TURKS & CAICOS', 'TURKS AND CAICOS', 'TUVALU', 'UK', 'UNITED ARAB EMIRATES', 'URUGUAY', 'USA', 'VANUATU', 'VENEZUELA', 'VIETNAM', 'WEST INDIES', 'WESTERN SAMOA', 'YEMEN']

In [58]:
# Top 10 countries with more sharks attacts:
top_10_paises = df['Country'].value_counts().head(10)
print(top_10_paises)

Country
USA                 2561
AUSTRALIA           1502
SOUTH AFRICA         598
NEW ZEALAND          146
BAHAMAS              139
PAPUA NEW GUINEA     136
BRAZIL               122
MEXICO               107
OTHER                 83
ITALY                 72
Name: count, dtype: int64

In [61]:
# Damian Part
activity_counts = df['Activity'].value_counts()

# Get top 10
top_10 = activity_counts.head(10)

# Calculate sum of all other activities
other_count = activity_counts[10:].sum()

# Create a new series with "Other activities" included
top_10_with_other = pd.concat([
    top_10, 
    pd.Series({'Other activities': other_count})
])

print("Top 10 activities plus others:")
print(top_10_with_other)

print("\nFormatted table:")
print(top_10_with_other.to_markdown())

Top 10 activities plus others:
Surfing             1133
Swimming             997
Fishing              490
Spearfishing         388
Wading               177
Bathing              164
Diving               147
Snorkeling           132
Standing             113
Scuba diving          84
Other activities    2610
dtype: int64

Formatted table:
|                  |    0 |
|:-----------------|-----:|
| Surfing          | 1133 |
| Swimming         |  997 |
| Fishing          |  490 |
| Spearfishing     |  388 |
| Wading           |  177 |
| Bathing          |  164 |
| Diving           |  147 |
| Snorkeling       |  132 |
| Standing         |  113 |
| Scuba diving     |   84 |
| Other activities | 2610 |

In [63]:
import pandas as pd

def get_activity_stats(df, activity_column='Activity', top_n=10):

    # Make copy to avoid modifying original DataFrame
    df = df.copy()
    
    # Standard cleaning
    df[activity_column] = (
        df[activity_column]
        .str.strip()  # Remove whitespace
        .str.lower()  # Convert to lowercase
    )
    
    # Common activity replacements (customize as needed)
    activity_replacements = {
        'swim': 'swimming',
        'bike': 'cycling',
        'bicycle': 'cycling',
        'football': 'soccer',
        'bball': 'basketball',
        'hoops': 'basketball',
        # Add more as needed for your dataset
    }
    
    df[activity_column] = df[activity_column].replace(activity_replacements)
    
    # Get activity counts
    activity_counts = df[activity_column].value_counts().reset_index()
    activity_counts.columns = ['Activity', 'Count']
    total = activity_counts['Count'].sum()
    # Separate top N and others
    top_activities = activity_counts.head(top_n)
    other_count = activity_counts['Count'][top_n:].sum()
    
    # Create "Other" row
    other_row = pd.DataFrame({
        'Activity': ['Other activities'],
        'Count': [other_count],
        'Percentage': [(other_count / total * 100).round(1)]
    })
    
    # Calculate percentages for top activities
    top_activities['Percentage'] = (top_activities['Count'] / total * 100).round(1)
    
    # Combine results
    result = pd.concat([top_activities, other_row], ignore_index=True)
    
    return result

# Usage example:
activity_stats = get_activity_stats(df, top_n=10)

print("Activity Statistics (Top 10 + Others):")
print(activity_stats.to_markdown(index=False, floatfmt=".1f"))

Activity Statistics (Top 10 + Others):
| Activity         |   Count |   Percentage |
|:-----------------|--------:|-------------:|
| surfing          |    1138 |         17.7 |
| swimming         |    1044 |         16.2 |
| fishing          |     506 |          7.9 |
| spearfishing     |     396 |          6.2 |
| wading           |     177 |          2.8 |
| bathing          |     167 |          2.6 |
| diving           |     150 |          2.3 |
| snorkeling       |     133 |          2.1 |
| standing         |     115 |          1.8 |
| scuba diving     |     104 |          1.6 |
| Other activities |    2505 |         38.9 |

/var/folders/tn/xjfvdsqn1_d879f1bppyx1xh0000gn/T/ipykernel_1151/2166415423.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_activities['Percentage'] = (top_activities['Count'] / total * 100).round(1)

In [65]:
def clean_sex_column(df, column_name='Sex'):
    """
    Cleans a sex column by:
    1. Converting all values to strings
    2. Stripping whitespace
    3. Converting to uppercase
    4. Keeping only 'M' or 'F'
    5. Setting all others to NaN
    """
    
    # Convert to string, strip whitespace, uppercase
    cleaned = df[column_name].astype(str).str.strip().str.upper()
    
    # Keep only M or F, others become NaN
    df[column_name] = cleaned.where(cleaned.isin(['M', 'F']))
    
    # Count cleaned values
    print("\nCleaning report:")
    print(f"Original value counts:\n{df[column_name].astype(str).str.strip().str.upper().value_counts()}")
    print(f"\nValid 'M' count: {(cleaned == 'M').sum()}")
    print(f"Valid 'F' count: {(cleaned == 'F').sum()}")
    print(f"Invalid values set to NaN: {len(df) - ((cleaned == 'M').sum() + (cleaned == 'F').sum())}")
    
    return df

df_cleaned = clean_sex_column(df, 'Sex')

print("\nFirst 10 rows after cleaning:")
print(df_cleaned[['Sex']].head(10))

Cleaning report:
Original value counts:
Sex
M      5634
F       802
NAN     584
Name: count, dtype: int64

Valid 'M' count: 5634
Valid 'F' count: 802
Invalid values set to NaN: 584

First 10 rows after cleaning:
  Sex
0   F
1   F
2   M
3   M
4   M
5   F
6   M
7   M
8   M
9   M

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7020 entries, 0 to 7019
Data columns (total 33 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                7020 non-null   object
 1   Year                7018 non-null   float64
 2   Type                7002 non-null   object
 3   Country             6970 non-null   object
 4   State               6535 non-null   object
 5   Location            7020 non-null   object
 6   Activity            6435 non-null   object
 7   Name                6801 non-null   object
 8   Sex                 6436 non-null   object
 9   Age                 4026 non-null   object
 10  Injury              6985 non-null   object
 11  Fatal Y/N           6377 non-null   object
 12  Time                3494 non-null   object
 13  Species             3889 non-null   object
 14  Source              7001 non-null   object
 15  pdf                 6799 non-null   object
 16  href formula        6794 non-null   object
 17  href                6796 non-null   object
 18  Case Number         6798 non-null   object
 19  Case Number.1       6797 non-null   object
 20  original order      6799 non-null   float64
 21  Unnamed: 21         1 non-null      object
 22  Unnamed: 22         2 non-null      object
 23  Cleaned_Time        3464 non-null   object
 24  Day_Part            3378 non-null   object
 25  Cleaned_Date        6144 non-null   datetime64[ns]
 26  Date_Range_Label    7020 non-null   object
 27  Injury_clean        6985 non-null   object
 28  Injury_grouped      7020 non-null   object
 29  Age_clean           3938 non-null   float64
 30  Age_group           7020 non-null   object
 31  state_clean         6535 non-null   object
 32  state_standardized  7020 non-null   object
dtypes: datetime64[ns](1), float64(3), object(29)
memory usage: 1.8+ MB

In [69]:
# Check for Duplicated value but we found nothing
duplicates = df[df.duplicated()]

print(duplicates)

Empty DataFrame
Columns: [Date, Year, Type, Country, State, Location, Activity, Name, Sex, Age, Injury, Fatal Y/N, Time, Species , Source, pdf, href formula, href, Case Number, Case Number.1, original order, Unnamed: 21, Unnamed: 22, Cleaned_Time, Day_Part, Cleaned_Date, Date_Range_Label, Injury_clean, Injury_grouped, Age_clean, Age_group, state_clean, state_standardized]
Index: []

[0 rows x 33 columns]

In [71]:
# change the type of columns to store the data efficiantly
# for our analysis we will use the following columns:
# Fatal Y/N, state_standardized (transoformed from State), Injury_grouped (transoformed from Injury)... 
# ...Date_Range_Label (transoformed from Date), Day_Part (transoformed from Time), Age_group (Tranformed from Age), Sex, Activity, Location, Country
# Lets change some of the datatype of the columns to insure better storage efficiancy

In [73]:
df['state_standardized'] = df['state_standardized'].astype('string')
print(df['state_standardized'].dtype)

string

In [75]:
df['Injury_grouped'] = df['Injury_grouped'].astype('string')
print(df['Injury_grouped'].dtype)

string

In [77]:
df['Date_Range_Label'] = df['Date_Range_Label'].astype('string')
print(df['Date_Range_Label'].dtype)

string

In [79]:
df['Day_Part'] = df['Day_Part'].astype('string')
print(df['Day_Part'].dtype)

string

In [81]:
df['Age_group'] = df['Age_group'].astype('string') 
print(df['Age_group'].dtype)

string

In [83]:
df['Sex'] = df['Sex'].astype("string")
print(df['Sex'].dtype)

string

In [85]:
df['Activity'] = df['Activity'].astype('string')
print(df['Activity'].dtype)

string

In [378]:
# Don't run this
#df['Location'] = df['Location'].astype('string')
#print(df['Location'].dtype)

string

In [380]:
# Don't run this
#df['Country'] = df['Country'].astype('string')
#print(df['Country'].dtype)

string

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7020 entries, 0 to 7019
Data columns (total 33 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                7020 non-null   object
 1   Year                7018 non-null   float64
 2   Type                7002 non-null   object
 3   Country             6970 non-null   object
 4   State               6535 non-null   object
 5   Location            7020 non-null   object
 6   Activity            6435 non-null   string
 7   Name                6801 non-null   object
 8   Sex                 6436 non-null   string
 9   Age                 4026 non-null   object
 10  Injury              6985 non-null   object
 11  Fatal Y/N           6377 non-null   object
 12  Time                3494 non-null   object
 13  Species             3889 non-null   object
 14  Source              7001 non-null   object
 15  pdf                 6799 non-null   object
 16  href formula        6794 non-null   object
 17  href                6796 non-null   object
 18  Case Number         6798 non-null   object
 19  Case Number.1       6797 non-null   object
 20  original order      6799 non-null   float64
 21  Unnamed: 21         1 non-null      object
 22  Unnamed: 22         2 non-null      object
 23  Cleaned_Time        3464 non-null   object
 24  Day_Part            3378 non-null   string
 25  Cleaned_Date        6144 non-null   datetime64[ns]
 26  Date_Range_Label    7020 non-null   string
 27  Injury_clean        6985 non-null   object
 28  Injury_grouped      7020 non-null   string
 29  Age_clean           3938 non-null   float64
 30  Age_group           7020 non-null   string
 31  state_clean         6535 non-null   object
 32  state_standardized  7020 non-null   string
dtypes: datetime64[ns](1), float64(3), object(22), string(7)
memory usage: 1.8+ MB

In [101]:
# Group by state and fatal status, state_standardized
grouped_state_fatal = df.groupby(['Fatal Y/N', 'state_standardized']).size().reset_index(name='Count')

# Filter only fatal incidents
fatal_only = grouped_state_fatal[grouped_state_fatal['Fatal Y/N'] == 'Y']

# Sort by count and get top 20
top_20_fatal_states = fatal_only.sort_values(by='Count', ascending=False).head(20)

# Show results
print(top_20_fatal_states)
# First result of the analysis: clearly our tourist should consider that beaches of the following sate are highly risky: 
# New South Wales, Queensland, Hawaii, Florida, KwaZulu-Natal

    Fatal Y/N     state_standardized  Count
976         Y                Unknown    195
825         Y        New South Wales    104
883         Y             Queensland     82
717         Y                 Hawaii     50
686         Y                Florida     48
745         Y          KwaZulu-Natal     48
996         Y      Western Australia     36
998         Y  Western Cape Province     35
931         Y        South Australia     30
867         Y             Pernambuco     30
677         Y  Eastern Cape Province     24
969         Y          Torres Strait     23
637         Y             California     22
832         Y           North Island     14
983         Y               Victoria     14
830         Y         North Carolina     12
648         Y       Central Province     12
982         Y               Veracruz     12
716         Y        Havana Province     11
932         Y         South Carolina     11

In [107]:
# Group by state and fatal status, Date_Range_Label
grouped_state_fatal = df.groupby(['Fatal Y/N', 'Date_Range_Label']).size().reset_index(name='Count')

# Filter only fatal incidents
fatal_only = grouped_state_fatal[grouped_state_fatal['Fatal Y/N'] == 'Y']

# Sort by count and get top 20
top_20_fatal_states = fatal_only.sort_values(by='Count', ascending=False).head(20)

# Show results
print(top_20_fatal_states)
# Second: the Winter time of the north of earth is also very risky, but to know better we have to add the country factor that we will see later

  Fatal Y/N Date_Range_Label  Count
8         Y   21-12 to 21-03    380
9         Y          No Date    305
6         Y   21-06 to 21-09    300
7         Y   21-09 to 21-12    252
5         Y   21-03 to 21-06    243

In [109]:
# Group by state and fatal status, Day_Part
grouped_state_fatal = df.groupby(['Fatal Y/N', 'Day_Part']).size().reset_index(name='Count')

# Filter only fatal incidents
fatal_only = grouped_state_fatal[grouped_state_fatal['Fatal Y/N'] == 'Y']

# Sort by count and get top 20
top_20_fatal_states = fatal_only.sort_values(by='Count', ascending=False).head(20)

# Show results
print(top_20_fatal_states)
# between the morning and the end of the afternoon is the riskiest time

   Fatal Y/N         Day_Part  Count
18         Y          Morning    146
15         Y   Late Afternoon    107
12         Y  Early Afternoon    101
14         Y          Evening     64
19         Y            Night     30
10         Y        Afternoon     28
13         Y    Early Morning     24
17         Y           Midday     24
16         Y       Late Night     11
11         Y             Dusk      6

In [113]:
# Group by state and fatal status, Age_group
grouped_state_fatal = df.groupby(['Fatal Y/N', 'Age_group']).size().reset_index(name='Count')

# Filter only fatal incidents
fatal_only = grouped_state_fatal[grouped_state_fatal['Fatal Y/N'] == 'Y']

# Sort by count and get top 20
top_20_fatal_states = fatal_only.sort_values(by='Count', ascending=False).head(20)

# Show results
print(top_20_fatal_states)
# Adults must be more wise since they are more likely to be attacked by sharks

  Fatal Y/N Age_group  Count
9         Y   Unknown    794
5         Y     Adult    437
8         Y      Teen    191
6         Y     Child     37
7         Y    Senior     21

In [115]:
# Group by state and fatal status, Sex
grouped_state_fatal = df.groupby(['Fatal Y/N', 'Sex']).size().reset_index(name='Count')

# Filter only fatal incidents
fatal_only = grouped_state_fatal[grouped_state_fatal['Fatal Y/N'] == 'Y']

# Sort by count and get top 20
top_20_fatal_states = fatal_only.sort_values(by='Count', ascending=False).head(20)

# Show results
print(top_20_fatal_states)
# Males are more likely to be attacked

  Fatal Y/N Sex  Count
3         Y   M   1249
2         Y   F    122

In [127]:
# Group by state and fatal status, Activity
grouped_state_fatal = df.groupby(['Fatal Y/N', 'Activity']).size().reset_index(name='Count')

# Filter only fatal incidents
fatal_only = grouped_state_fatal[grouped_state_fatal['Fatal Y/N'] == 'Y']

# Sort by count and get top 20
top_20_fatal_states = fatal_only.sort_values(by='Count', ascending=False).head(20)

# Show results
print(top_20_fatal_states)
# Swimming, Bathing, Surfing ate top three must Dangerous activities

     Fatal Y/N             Activity  Count
1401         Y             Swimming    324
1046         Y              Bathing     71
1395         Y              Surfing     64
1367         Y         Spearfishing     53
1177         Y              Fishing     50
1157         Y       Fell overboard     26
1116         Y               Diving     24
1402         Y            Swimming      21
1365         Y           Snorkeling     19
1383         Y             Standing     16
1068         Y        Body boarding     16
1520         Y               Wading     15
1321         Y         Scuba diving     15
1300         Y         Pearl diving     10
1507         Y       Treading water      7
1153         Y  Fell into the water      7
1070         Y         Body surfing      6
1380         Y        Sponge diving      6
1222         Y          Free diving      6
1330         Y         Sea Disaster      4

In [501]:
# Group by state and fatal status, Location?????
grouped_state_fatal = df.groupby(['Fatal Y/N', 'Location']).size().reset_index(name='Count')

# Filter only fatal incidents
fatal_only = grouped_state_fatal[grouped_state_fatal['Fatal Y/N'] == 'Y']

# Sort by count and get top 20
top_20_fatal_states = fatal_only.sort_values(by='Count', ascending=False).head(20)

# Show results
print(top_20_fatal_states)

  Fatal Y/N                                           Location  Count
1         Y  <bound method Series.unique of 0              ...   1480

In [400]:
df["Location"]

0       <bound method Series.unique of 0              ...
1       <bound method Series.unique of 0              ...
2       <bound method Series.unique of 0              ...
3       <bound method Series.unique of 0              ...
4       <bound method Series.unique of 0              ...
                              ...
7015    <bound method Series.unique of 0              ...
7016    <bound method Series.unique of 0              ...
7017    <bound method Series.unique of 0              ...
7018    <bound method Series.unique of 0              ...
7019    <bound method Series.unique of 0              ...
Name: Location, Length: 7020, dtype: string

In [143]:
# Group by state and fatal status, Country
grouped_state_fatal = df.groupby(['Fatal Y/N', 'Country']).size().reset_index(name='Count')

# Filter only fatal incidents
fatal_only = grouped_state_fatal[grouped_state_fatal['Fatal Y/N'] == 'Y']

# Sort by count and get top 20
top_20_fatal_states = fatal_only.sort_values(by='Count', ascending=False).head(20)

# Show results
print(top_20_fatal_states)
# AUSTRALIA, USA, South Africa are the top three dangerouse destinations while coutries like: GABON, SOLOMON ISLANDS / VANUATU, ALGERIA restried less accedents

    Fatal Y/N           Country  Count
139         Y         AUSTRALIA    307
261         Y               USA    198
241         Y      SOUTH AFRICA    109
223         Y  PAPUA NEW GUINEA     58
208         Y            MEXICO     50
148         Y            BRAZIL     39
227         Y       PHILIPPINES     37
221         Y             OTHER     35
229         Y           REUNION     29
217         Y       NEW ZEALAND     26
162         Y              CUBA     26
215         Y     NEW CALEDONIA     25
169         Y              FIJI     23
212         Y        MOZAMBIQUE     22
183         Y             INDIA     21
222         Y            PANAMA     18
191         Y           JAMAICA     17
166         Y             EGYPT     17
182         Y         HONG KONG     17
185         Y         INDONESIA     16

In [505]:
# Group by Fatal Y/N, Age_group, and Sex  
grouped_age_sex_fatal = df.groupby(['Fatal Y/N','Age_group', 'Sex', ]).size().reset_index(name='Count')

# Filter only fatal incidents
fatal_age_sex = grouped_age_sex_fatal[grouped_age_sex_fatal['Fatal Y/N'] == 'Y']

# Sort by count
fatal_age_sex = fatal_age_sex.sort_values(by='Count', ascending=False)

# Show results
print(fatal_age_sex)
# Male adults are on top target of the sharks

   Fatal Y/N Age_group Sex  Count
19         Y   Unknown   M    652
11         Y     Adult   M    388
17         Y      Teen   M    165
10         Y     Adult   F     46
18         Y   Unknown   F     41
13         Y     Child   M     31
16         Y      Teen   F     22
15         Y    Senior   M     13
14         Y    Senior   F      8
12         Y     Child   F      5

In [135]:
# Group by Fatal Y/N Age_group, Sex, and Country
grouped_age_sex_loc_fatal = df.groupby(['Fatal Y/N','Age_group', 'Sex', 'Country' ]).size().reset_index(name='Count')

# Filter only fatal incidents
fatal_age_sex_loc = grouped_age_sex_loc_fatal[grouped_age_sex_loc_fatal['Fatal Y/N'] == 'Y']

# Sort by count
fatal_age_sex_loc = fatal_age_sex_loc.sort_values(by='Count', ascending=False).head(10)

# Show results
print(fatal_age_sex_loc)
# France can be save for the females

    Fatal Y/N Age_group Sex           Country  Count
369         Y     Adult   M         AUSTRALIA    122
635         Y   Unknown   M               USA    103
537         Y   Unknown   M         AUSTRALIA     98
468         Y      Teen   M         AUSTRALIA     52
422         Y     Adult   M               USA     48
414         Y     Adult   M      SOUTH AFRICA     44
618         Y   Unknown   M      SOUTH AFRICA     32
604         Y   Unknown   M  PAPUA NEW GUINEA     31
602         Y   Unknown   M             OTHER     25
505         Y      Teen   M      SOUTH AFRICA     23

In [141]:
# Group by Fatal Y/N Age_group,Date_Range_Label, Sex, Activity , and Country
grouped_age_sex_loc_fatal = df.groupby(['Fatal Y/N','Date_Range_Label', 'Sex', 'Country', "Activity" ]).size().reset_index(name='Count')

# Filter only fatal incidents
fatal_age_sex_loc = grouped_age_sex_loc_fatal[grouped_age_sex_loc_fatal['Fatal Y/N'] == 'Y']

# Sort by count
fatal_age_sex_loc = fatal_age_sex_loc.sort_values(by='Count', ascending=False).head(5)

# Show results
print(fatal_age_sex_loc)
# Swimming in USA in summer is very dangerouse while it is very risky in Australia during summer and Spring

     Fatal Y/N Date_Range_Label Sex       Country  Activity  Count
2249         Y   21-06 to 21-09   M           USA  Swimming     25
2480         Y   21-12 to 21-03   M     AUSTRALIA  Swimming     22
2308         Y   21-09 to 21-12   M     AUSTRALIA  Swimming     21
2605         Y   21-12 to 21-03   M  SOUTH AFRICA  Swimming     21
2454         Y   21-12 to 21-03   M     AUSTRALIA   Bathing     14

In [157]:
# Total and fatal attacks
total_attacks = df['Country'].value_counts()
fatal_attacks = df[df['Fatal Y/N'] == 'Y']['Country'].value_counts()

# Summary table
summary = pd.DataFrame({
    'Total_Attacks': total_attacks,
    'Fatal_Attacks': fatal_attacks
})
summary['Fatal_Attacks'] = summary['Fatal_Attacks'].fillna(0)
summary['Fatality_Rate (%)'] = (summary['Fatal_Attacks'] / summary['Total_Attacks']) * 100

# Top countries with many attacks, but low fatality rate
top_attack_countries = summary.sort_values(by='Total_Attacks', ascending=False).head(10)
top_attack_countries = top_attack_countries.sort_values(by='Fatality_Rate (%)')

print(top_attack_countries)

                  Total_Attacks  Fatal_Attacks  Fatality_Rate (%)
Country
USA                        2561          198.0           7.731355
BAHAMAS                     139           15.0          10.791367
NEW ZEALAND                 146           26.0          17.808219
SOUTH AFRICA                598          109.0          18.227425
ITALY                        72           14.0          19.444444
AUSTRALIA                  1502          307.0          20.439414
BRAZIL                      122           39.0          31.967213
OTHER                        83           35.0          42.168675
PAPUA NEW GUINEA            136           58.0          42.647059
MEXICO                      107           50.0          46.728972